<link rel="stylesheet" type="text/css" href="__CSS_PATH__/common/normalize.css"/>
<link rel="stylesheet" href="__CSS_PATH__/common/style.css"/>
<link rel="stylesheet" href="__CSS_PATH__/common/review.css"/>
<link rel="stylesheet" type="text/css" href="http://jscss.youngt.com/Public/Css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="http://jscss.youngt.com/Public/Css/jquery.fancybox-1.3.4.css" media="screen" />
<link rel="stylesheet" type="text/css" href="http://jscss.youngt.com/Public/Css/bootstrap.min.css"/>
<script type="text/javascript" src="http://jscss.youngt.com/Public/Js/jquery.min.js"></script>
<script type="text/javascript" src="http://jscss.youngt.com/Public/Js/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://jscss.youngt.com/Public/Js/bootstrap.min.js"></script>
<style>
    .blind {position: absolute;width: 630px; z-index: 102;}
    .mt-dialog {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;}
    .mt-dialog .body {overflow: hidden;padding: 30px;}
    .cl{color:#F00;}
    .btn {background-color: #2DB3A6;background-image: -moz-linear-gradient(center top , #2EC3B4, #2DB3A6);border-color: #0D7B71;color: #FFFFFF;-moz-user-select: none;background-repeat: repeat-x;border-radius: 2px;border-style: solid;border-width: 0 0 1px;cursor: pointer;display: inline-block;font-family: 'SimSun',Arial;font-size: 14px;font-weight: bold;letter-spacing: 0.1em;line-height: 1.5;padding: 7px 20px 6px;text-align: center;text-decoration: none;vertical-align: middle; margin-right:15px;}
    .btn:hover, .btn.hover, .btn:focus {background-color: #2EB7AA;background-image: -moz-linear-gradient(center top , #38D0C3, #2EB7AA);border-color: #0E8177;color: #FFFFFF;}
    .btn:active, .btn.active {background-color: #32C2B5;background-image: -moz-linear-gradient(center top , #2EB6A9, #32C2B5);border-color: #109085;color: #FFFFFF;}
</style>

<div class="mt-overlay-container">
    <div class="blind">     			        				
        <div class="mt-dialog">
            <div class="body">
                <div class="mobile-rebind-dialog">
                    <form id="team-manage-form">
                        <div style="text-align: center;color: red;">该商品参加活动后系统会自动生成一个活动团单，可在活动项目中查看</div>
                        <table width="100%" class="m-table f-tac mt10">                                
                            <tbody>
                                <tr>
                                    <td class="f-fwb" style="width:90px;">
                                        参与活动
                                    </td>
                                    <td class="f-tal">
                                        <select name='activities_id' id='activities_id'>
                                            <option value="">请选择参加的活动</option>
                                            <volist name="activities_res" id="ar">
                                                <option value="{$ar.id}" begin_time='{$ar["begin_time"]|date="Y-m-d H:i:s",###}' end_time='{$ar["end_time"]|date="Y-m-d H:i:s",###}'>{$ar.title}</option>
                                            </volist>
                                        </select>
                                    </td>                                 
                                </tr> 
                                <tr>
                                    <td class="f-fwb" style="width:90px;">
                                        活动时间
                                    </td>
                                    <td class="f-tal" id='begin_end_time'>

                                    </td>                                 
                                </tr> 
                                <tr>
                                    <td class="f-fwb" style="width:90px;">
                                        优惠金额
                                    </td>
                                    <td class="f-tal">
                                        <input type="text" id='discount_price' team_price='{$team_info.team_price}'  ucaii_price='{$team_info.ucaii_price}'  name="discount_price" value="">
                                        (活动团单的供货价和团购价为原金额减去该金额)
                                    </td>                                 
                                </tr> 
                                <tr>
                                    <td class="f-fwb" style="width:90px;">
                                        参与数量
                                    </td>
                                    <td class="f-tal">
                                        <input type="text" id='max_number' name="max_number" value="">
                                        (不填写 或 填写 0 按照不限量处理)
                                    </td>                                 
                                </tr> 

                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="hidden" name="team_id" id='team_id' value="{$team_info.id}">
                                        <a class="btn" id='participate-activities-submit' href="{:U('TeamManage/participate_activities')}">确认</a>
                                    </td>                                                                
                                </tr>                                                                                  
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>       	
<script type="text/javascript">

    /**
     *  根据所选的活动  获取活动时间
     * @returns {undefined}
     */
    function getActivitiesTimeBySelect() {
        var $select = $('#activities_id');
        var activities_id = $select.val();
        if (!activities_id) {
            return false;
        }

        var $select_option = $select.find("option[value='" + activities_id + "']");
        var begin_time = $select_option.attr('begin_time');
        var end_time = $select_option.attr('end_time');
        if (!begin_time || !end_time) {
            return false;
        }

        var begin_end_time_html = begin_time + " 至 " + end_time;
        $('#begin_end_time').html(begin_end_time_html);
        return false;
    }


    $(function() {
        var _init = function() {
            getActivitiesTimeBySelect();
        }();
        $('#activities_id').die().live('change', function() {
            getActivitiesTimeBySelect();
            return false;
        });

        $('#participate-activities-submit').die().live('click', function() {
            var $this = $(this);
            var activities_id = $('#activities_id').val();
            var discount_price = Number($('#discount_price').val());
            var max_number = Number($('#max_number').val());
            var team_price = Number($('#discount_price').attr('team_price'));
            var ucaii_price = Number($('#discount_price').attr('ucaii_price'));
            var team_id = $('#team_id').val();
            if ($this.hasClass('disabled')) {
                return false;
            }
            if (!activities_id) {
                parent.window.alert('请选择参加的活动');
                return false;
            }
            if (!discount_price) {
                parent.window.alert('请输入优惠价');
                return false;
            }
            if (ucaii_price && discount_price >= ucaii_price) {
                var error_info = "优惠价必须小于" + ucaii_price;
                parent.window.alert(error_info);
                return false;
            }
            var href = $(this).attr('href');
            var data = {
                tid: team_id,
                activities_id: activities_id,
                discount_price: discount_price,
                max_number: max_number
            };
            var btn_html = $this.html();
            $this.addClass('disabled');
            $this.html('正在处理...');
            $.post(href, data, function(res) {
                $this.removeClass('disabled');
                $this.html(btn_html);
                if (res.code && res.code != 0 && res.error) {
                    parent.window.alert(res.error);
                    return false;
                }
                parent.window.alert('操作成功！');
                parent.window.$.fancybox.close();
                parent.window.location.reload();
                return false;
            }, 'json');

            return false;
        });

    })
</script>
