<include file="Common:header" />
<include file="Common:top_header" />
<include file="Common:menu" />
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">团单管理</a>
            </li>
            <li class="active">团单列表</li>
        </ul><!-- .breadcrumb -->

    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                团单列表
            </h1>
        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <include file="Common:message_tip" /> 
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li <eq name="type" value="2">class="active"</eq> ><a  href="{:U('TeamManage/index',array('type'=>2))}" >
                                下线团单
                            </a></li>
                        <li  <eq name="type" value="1">class="active"</eq> ><a  href="{:U('TeamManage/index',array('type'=>1))}">
                                在线团单
                            </a></li>
                        <li <eq name="type" value="3">class="active"</eq> ><a  href="{:U('TeamManage/index',array('type'=>3))}">
                                活动团单
                            </a></li>
                    </ul>
                </div>
                <!-- PAGE CONTENT BEGINS -->
                <div class="tab-content">
                    <div id="basicinfo" class="tab-pane active">
                        <table id="team-manage-list" lang="{$dbUser['db_username']|default=''}|{$dbUser['db_phone']|default=''}" class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th>
                                        <i class="icon-tag blue"></i> 项目编号/名称
                                    </th>
                                     <if condition="$type eq 3">
                                          <th>
                                        <i class="icon-caret-right blue"></i> 活动
                                    </th>
                                     </if>
                                    <th>
                                        <i class="icon-time blue"></i> 起止日期
                                    </th>
                                  
                                    <th>
                                        <i class="icon-caret-right blue"></i> 销量
                                    </th>

                                    <th>
                                        <i class="icon-caret-right blue"></i> 评论数
                                    </th>

                                    <th>
                                        <i class="icon-caret-right blue"></i> 团购价
                                    </th>

                                    <th>
                                        <i class="icon-caret-right blue"></i> 结算价
                                    </th>
                                       <if condition="$type eq 3">
                                           <th>
                                               <i class="icon-caret-right blue"></i> 状态
                                           </th>
                                       </if>
                                    <th>
                                        <i class="icon-caret-right blue"></i> 操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="vo">
                                <tr>
                                    <td>
                                        {$vo['id']} / 
                                        <a target="blank" href="http://{$Think.server.http_host}/team-{$vo['id']}.html" class="fac"  title="{$vo['title']}">{$vo.title}
                                        </a>
                                    </td>
                                    
                                    <if condition="$type eq 3">
                                        <td>
                                             <if condition="$vo.activities_name neq ''"> 
                                                  <span class="label label-danger">{$vo.activities_name}</span>
                                                 <else/>                           
                                                  <span class="label label-danger">未知活动</span>
                                             </if>
                                        </td>
                                   </if>
                                    <td>
                                        {$vo.begin_time|date="Y-m-d",###}<b class="red">-</b> {$vo.end_time|date="Y-m-d",###}
                                    </td>
                                     
                                    <td>
                                        {$vo.now_number}
                                    </td>

                                    <td>
                                        {$vo.comment_count}
                                    </td>

                                    <td>
                                          {$vo.team_price}
                                    </td>

                                    <td>
                                         {$vo.ucaii_price}
                                    </td>

                                    <if condition="$type eq 3">
                                           <td width="80">
                                            <if condition="$vo.status_name neq ''">
                                                <span <if condition="$vo.status eq 1"> class="label label-success arrowed-in arrowed-in-right"  <elseif condition="$vo.status eq 2" /> class="label label-info arrowed-right arrowed-in" </if> >
                                                    {$vo.status_name}
                                                   <span>
                                                 <else/>
                                                 为未状态
                                             </if>
                                           </td>
                                   </if>


                                    <td class="hidden-480">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                            <eq name="type" value="2">
                                                    <button class="btn btn-xs btn-success online" title="延长时间">
                                                        <i class="icon-time bigger-120"></i>
                                                    </button>
                                            </eq>
                                            
                                           <eq name="type" value="1">
                                                <if condition="$res = auth_check_access(array('TeamManage/delay'))">
                                                     <button class="btn btn-xs btn-success openifram" data-w='600' data-url="{:U('TeamManage/delay',array('id'=>$vo['id']))}" title="延长时间">
                                                        <i class="icon-time bigger-120"></i>
                                                    </button>
                                                 </if>
                                              <if condition="$res = auth_check_access(array('TeamManage/specialSet'))">
                                                   <button class="btn btn-xs btn-info openifram" data-w='600' data-url="{:U('TeamManage/specialSet',array('id'=>$vo['id']))}" title="特殊设置">
                                                        <i class="icon-cogs bigger-120"></i>
                                                    </button>
                                              </if>
                                              <if condition="$res = auth_check_access(array('TeamManage/participate_activities'))">
                                                  <if condition="$partners_info['is_exist_activities'] eq 'Y'">
                                                  <button class="btn btn-xs btn-danger openifram" data-w='600' data-url="{:U('TeamManage/participate_activities',array('tid'=>$vo['id']))}" title="参加活动">
                                                        <i class="icon-group bigger-120"></i>
                                                    </button>
                                                  </if>
                                              </if>
                                              </eq>
                                              <eq name="type" value="3">
                                                <if condition="$vo['status'] eq 1">
                                                     <if condition="$res = auth_check_access(array('TeamManage/edit_activities_team'))">
                                                     <button class="btn btn-xs btn-danger openifram" data-w='600' data-url="{:U('TeamManage/edit_activities_team',array('tid'=>$vo['id']))}" title="编辑活动">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </button>
                                                     </if>
                                                    <if condition="$res = auth_check_access(array('TeamManage/delete_activities_team'))">
                                                     <a class="btn btn-xs btn-danger" confirm_tip='确定删除该活动团单吗？' onclick="return ajax_operation(this);" href="{:U('TeamManage/delete_activities_team',array('tid'=>$vo['id']))}" title="删除活动">
                                                        <i class="icon-trash bigger-120"></i>
                                                    </a>
                                                    </if>
                                                  </if>
                                              </eq>
                                           

                                        </div>
                                    </td>
                                </tr>
                        </volist>
                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="sample-table-2_info"> 全部{$count}条</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>

    </div><!-- /.page-content -->
</div><!-- /.main-content -->
<include file="Common:set_content" />
</div><!-- /.main-container-inner -->
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->
<include file="Common:footer" />

<script>
    $(function() {
         // 申请上线提示
        $('.main-container-inner').on('click','#team-manage-list button.online',function(){
        //$("#team-manage-list a.online").die().live('click', function() {
            var $dbUser = $('#team-manage-list').attr('lang').split('|');
            var $phone = $dbUser.pop();
            var $username = $dbUser.pop();
            var $confire = "请联系业务员：" + $username + "，联系电话：" + $phone;
            window.confirm($confire);
            return false;
        });
    });
</script>