<form class="myform" action="{:U(MDULE_NAME/ACTION_NAME)}" method="get">
	<li><label>订单号</label><input type="text" name="order_id" value="{$searchValue.order_id}" class="w100"/></li>
	<li><label>项目号</label><input type="text" name="team_id" value="{$searchValue.team_id}" class="w100"/></li>
	<li><label>用户名</label><input type="text" name="user_id" value="{$searchValue.user_id}" class="w100"/></li>
	<li>
		<label>券号</label><input type="text" name="id" value="{$searchValue.id}" class="w100"/>
		<input type="submit" class="btn-teal small-btn" value="筛选" />
	</li>
</form>