<div class="mt30">
    <table width="100%" class="m-table f-tac mt10">
        <thead >
            <tr>
                <th width="100">订座人姓名</th>
                <th width="120">订座人手机</th>
                <th width="50" >订座人数</th>
                <th width="140" >订座时间</th>
                <th width="80" >他人还是自己</th>
                <th width="80" >备注信息</th>
                <th width="80" >是否到店</th>
                <th width="60">操作</th>
            </tr>
        </thead>
        <tbody>
        <volist id="vo" name="dz_order">
            <tr>
                <td>{$vo.username}<if condition="$vo.sex eq 1">先生<else />女士</if></td>
            <td>{$vo.mobile}</td>
            <td>{$vo.num}</td>
            <td>{$vo['create_time']}</td>
            <td><if condition="$vo.state eq 'Y'">自己<else />他人</if></td>
            <td>{$vo.remarks}</td>
            <td><if condition="$vo.user_state eq 'N'">否<else />是</if></td>
            <td><if condition="$vo.status eq 'Y'">已处理<else />
                <if condition="$res = auth_check_access(array('DingZuo/dealDZOrder'))">
                    <a href="{:U('DingZuo/dealDZOrder')}" class="fac deal-dz-order" lang="{$vo.id}" >处理</a>
                </if>
                
            </if></td>
            </tr> 
        </volist>                                    
        </tbody>
    </table>
</div>
<div class="m-page">
    <a style="color:black">共计（{$count}）个</a>&nbsp;&nbsp;&nbsp;{$page}
</div>