<include file="Common:header" />
<!-- 新增提示层  2015-1-26  作者：oldfu-->
<include file="Common:tip" />
<!-- 新增提示层结束  2015-1-26 -->
<div id="bdw" class="bdw">    
    <div id="bd" class="w980 cf f-pr" >
        <div id="account">
            <include file="Common:menu" />
            <div class="e-content e-content--hastab pg-coupon-verify f-pr">
                <div class="head pt10 pb10">
                    <h2>订座订单列表</h2>
                </div>
                <div style="font-size: 20px">
                    <div class="formitm mt30">
                        <span class="lab ml20 db">业务员姓名：</span>                                   
                        <span class="lab ml20 db">{$db['db_username']}</span>
                    </div>    
                    <div class="formitm mt30">
                        <span class="lab ml20 db">业务员手机：</span>                                   
                        <span class="lab ml20 db">{$db['db_phone']}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />