<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>青团网西安站_西安团购网站_第一大学生校园团购网站,西安青团网|西安团购|大学生团购网</title>	
        <meta name="description" content="青团网西安站 - 中国第一大学生校园团购网！为您汇集最全面最优惠的大学城美食娱乐团购打折促销信息！青团网为您精选西安城内的自助餐、电影票、KTV、美发、足浴特色商家，享尽无敌折扣！" />							
		<meta name="keywords" content="青团网 西安,青团网西安站,西安团购,打折,西安打折,优惠券,西安优惠券,西安校园团购" />
	    <link rel="stylesheet" href="__CSS_PATH__/base.css">
		<link rel="icon" href="__PUBLIC__/Images/favicon.ico" size="16x16"/>		
		 <script type="text/javascript" src="__JS_PATH__/jquery-1.7.2.js"></script>
                 <script type="text/javascript" src="__PLUGINS_PATH__/selectCity/jquery.cityselect.js"></script>
<literal>
<style>
.blind {position: absolute;width: 480px; z-index: 102;}
.mt-dialog {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;}
.mt-dialog .body {overflow: hidden;padding: 30px;}
#mobile-rebind-dialog{width:520px;height: 400px;overflow: hidden;}
.mobile-rebind-dialog .common-form {margin: 10px auto;width: 400px;}
.mobile-rebind-dialog .field-group { line-height: 22px;margin:  0;padding: 0 10px 18px 110px; position: relative;}
.mobile-rebind-dialog .field-group label {width: 100px;line-height: 22px; color: #333333; font-size: 12px;left: 0; padding-top: 2px; position: absolute;text-align: right;margin: 0;padding: 0;top: 0;}
.mobile-rebind-dialog .mobile .f-text {width: 190px;  height: 22px;line-height: 22px;margin-bottom: 3px;border: 1px solid #CCCCCC;padding: 5px;vertical-align: top;}
.mobile-rebind-dialog .mobile input.f-text:focus{border-color: #63C5C8; box-shadow: 0 1px 2px #CDCDCD inset;outline: 0 none;}
.mobile-rebind-dialog .f-block-verify { padding-bottom: 5px;margin-top:0;}
.mobile-rebind-dialog .mobile .f-text-verify {width: 90px;}
.mobile-rebind-dialog .operate {margin: 3px 0;}
.btn-mini {font-weight: normal;padding: 1px 8px 0;-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #DEDEDE;background-image: -moz-linear-gradient(center top , #F7F7F7, #DEDEDE);border-color: #E3E3E3 #E3E3E3 #AAAAAA;border-image: none;border-style: solid;border-width: 1px;color: #333333;-moz-user-select: none;background-repeat: repeat-x;border-radius: 2px;cursor: pointer; display: inline-block;font-family: 'SimSun',Arial;letter-spacing: 0.1em;line-height: 1.5;text-align: center;text-decoration: none;vertical-align: middle;}
.btn-mini:hover{-moz-border-bottom-colors: none-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #E9E9E9;background-image: -moz-linear-gradient(center top , #FFFFFF, #E9E9E9);border-color: #E5E5E5 #E5E5E5 #B3B3B3;border-image: none;border-style: solid;border-width: 1px;color: #333333;}
.btn-mini:active{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #EFEFFE;background-image: -moz-linear-gradient(center top , #E0E0E0, #EFEFEF);border-color: #D7D7D7 #D7D7D7 #ABAAAA;border-image: none;border-style: solid;border-width: 1px;color: #333333;}
.btn {background-color: #2DB3A6;background-image: -moz-linear-gradient(center top , #2EC3B4, #2DB3A6);border-color: #0D7B71;color: #FFFFFF;-moz-user-select: none;background-repeat: repeat-x;border-radius: 2px;border-style: solid;border-width: 0 0 1px;cursor: pointer;display: inline-block;font-family: 'SimSun',Arial;font-size: 14px;font-weight: bold;letter-spacing: 0.1em;line-height: 1.5;padding: 7px 20px 6px;text-align: center;text-decoration: none;vertical-align: middle;}
.btn:hover, .btn.hover, .btn:focus {background-color: #2EB7AA;background-image: -moz-linear-gradient(center top , #38D0C3, #2EB7AA);border-color: #0E8177;color: #FFFFFF;}
.btn:active, .btn.active {background-color: #32C2B5;background-image: -moz-linear-gradient(center top , #2EB6A9, #32C2B5);border-color: #109085;color: #FFFFFF;}
.common-form a.inline-link {line-height: 32px;margin: 0 0 0 4px;vertical-align: top;color: #2BB8AA;}
.common-form a:hover{ text-decoration:underline;}
.tipMsg {
    color: red;
    width: 200px;
    margin:10px auto;
    text-align: center;
}
</style>
</literal>
	</head>
	<body>
       <!--更换手机号-->
        	<div id="mobile-rebind-dialog" class="mt-overlay-container">
        		<div class="yui3-widget yui3-widget-positioned yui3-widget-stacked yui3-overlay-focused blind">
        			<div class="yui3-overlay-content yui3-widget-stdmod">
        				<div class="yui3-widget-bd">
        					<h3 class="ft">
                				{$opt}地址
                			</h3>
        					<div class="mt-dialog">
        					
       							<div class="mobile-rebind-dialog">
       							  		<div id='msg' class="tipMsg"></div>

        								<form id="settings-mobile-rebind-form" class="common-form" action="{:U('Member/'.$post_url)}" method="POST">
       									  	<div class="field-group operate">
       									  		<label>收货人:</label>
       									  		<input class="" name='address[name]' value='{$address.name}' type="text">
       									  	</div>
       									  	<div id='add-address-select-city' class="field-group operate">
       									  		<label>所在地区:</label>
       									  		 <select id="address-prov" class="prov address-province" autocomplete="off" name="address[province]"></select>
                                                                                                                                                                                <select id="address-city" class="city address-city" autocomplete="off" name="address[area]"></select>
                                                                                                                                                                                <select id="address-dist" class="dist address-district" autocomplete="off" name="address[city]"></select>
       									  	</div>
       									  	<div class="field-group operate">
       									  		<label>街道地址:</label>
       									  		<input class="" name='address[street]' value='{$address.street}' type="text" size="50" maxlength="60">
       									  	</div>
       									  	<div class="field-group operate">
       									  		<label>邮政编码:</label>
       									  		<input class="" name='address[zipcode]' value='{$address.zipcode}'  type="text" size="10" maxlength="20">
       									  	</div>
       									  	<div class="field-group operate">
       									  		<label>联系电话:</label>
       									  		<input class="" name='address[mobile]' value='{$address.mobile}'  type="text" size="15" maxlength="15">
       									  	</div>
                                            <div class="field-group operate">
                                                <input type="hidden" name='address_id' value='{$address.id}'/>
                                            	<input id='add-edit-address-from-btn' class="btn" type="button" value="提交">
                                            </div>
        								</form>
        						</div>
        				
        				</div>
        			</div>
        		</div>
        	</div>

<script type="text/javascript">
    $(function(){
        var prov = "{$address['province']}";
        var city = "{$address['area']}";
        var dist = "{$address['city']}";
        $('#add-address-select-city').citySelect({prov:prov, city:city,dist:dist, required:false,url:"__PLUGINS_PATH__/selectCity/city.min.js"});
        $('#add-edit-address-from-btn').die().live('click',function(){
            var $this = $(this);
            var $form = $this.parents('form#settings-mobile-rebind-form');
            var $href = $form.attr('action');
            var $data = $form.serialize();
            if ($this.hasClass('disabled')) {
                return false;
            }
            $this.addClass('disabled');
            $this.val('正在处理...');
            $.post($href, $data, function(res) {
                $this.removeClass('disabled');
                $this.val('提交');
                if (res.code && res.code != 0 && res.error) {
                    parent.window.alert(res.error);
                    return false;
                }
                parent.window.alert('操作成功！');
                parent.window.location.reload();
            }, 'json');
            return false;
        });
    });
</script>
</body>
</html>