<include file="Common:header" />
<include file="Common:nav" />
<section><div id='section'>
	<include file="left" />
	<div id="pcontent" class="coupons-box fl">
      <div class="pmainbox mine">

        <div class="tab">
          <div class="tab_menu">
            <ul >
              <li>
                  <a href="{:U('Member/growthList')}">我的成长值</a>
              </li>
              <li>
                  <a href="{:U('Member/creditList')}">我的积分</a>
              </li>
              <li class="selected">
                <a href="{:U('Member/cardList')}">积分换券</a>
              </li>
            </ul>
          </div>
          <div class="tab_box">
            <!-- 积分兑券-->
             <div class="">
              <div class="alert alert-warning mt10 mb10" role="alert">
                好消息：下单过程中，可用积分抵现金啦！100积分=1元!
              </div>

              <div class="table-section">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="112">奖品</th>
                      <th width="200">奖品说明</th>
                      <th width="100">兑换条件</th>
                      <th class="text-right" width="110">操作</th>
                    </tr>
                  </thead>

                  <tr>
                    <td class="td">
                    <div class="card-view text-left">
                      <span class="card-value">20</span>
                      <span class="card-type"></span>
                      <span class="dp pl20"> 已领 <em class="cl-f7">1072</em> 张 </span>
                    </div></td>

                    <td>
                    <div class="pt10 cl-66 f-tac">
                      不限购买金额， 有效期 <em class="cl-f7">20</em>天
                    </div></td>

                    <td>
                    <div class="pt10 cl-66">
                      <p>
                        <i class="sp-growth-icons mr5 level-avatar f-ib level-avatar-2"></i>(含以上)
                      </p>
                      <span class="f-db f-tac"><em class="cl-f7">20</em> 积分兑换</span>
                    </div></td>

                    <td>
                    <div id="lingqu" class="pt20">
                      <a type="button" class="btn btn-mini" disabled="disabled">已结束</a>
                    </div></td>

                  </tr>

                  <tr>
                    <td class="td">
                    <div class="card-view text-left">
                      <span class="card-value">10</span>
                      <span class="card-type"></span>
                      <span class="dp pl20"> 已领 <em class="cl-f7">1872</em> 张 </span>
                    </div></td>

                    <td>
                    <div class="pt10 cl-66 f-tac">
                      不限购买金额， 有效期 <em class="cl-f7">14</em>天
                    </div></td>

                    <td>
                    <div class="pt10 cl-66">
                      <p>
                        <i class="sp-growth-icons mr5 level-avatar f-ib level-avatar-2"></i>(含以上)
                      </p>
                      <span class="f-db f-tac"><em class="cl-f7">10</em> 积分兑换</span>
                    </div></td>

                    <td>
                    <div id="lingqu" class="pt20">
                      <a type="button" class="btn btn-mini" disabled="disabled">已结束</a>
                    </div></td>

                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div></section>
<include file="Common:footer" />