<include file="Common:header" />
<include file="Common:nav" />
<style type="text/css">
#stars,
#weizhi,
#weisheng,
#fuwu{
	display: inline-block;
}
.rate-item__content .mb0{
	height: 30px !important;
}
.feedback .c6{
	width:100px;
	text-align: right;
	margin-left: -95px;
}
</style>
<section><div id='section'>
	<include file="left" />
	<div id="pcontent" class="coupons-box fl">
          <div class="pmainbox mine">
            <div class="pbanner">
              <a href="{:U('Member/creditList')}" target="_blank" title="积分换大奖"> <img src="__IMAGE_PATH__/__46593862__3065690.png" alt="积分换大奖"> </a>
            </div>
            <div class="rate-item">
              <include file="Common:error" />
              <div class="pd10 fl">
                <a title="{$team.product}" target="_blank" href="/team-{$team['id']}.html"> <img width="81" height="50" src="{$team.image}"> </a>
              </div>

              <div class="rate-item__content cl-66">
                <h3 class="J-deal-title f-fs2"><a target="_blank" title="{$team.product}" href="/team-{$team['id']}.html" class="c6">{$team.product}</a></h3>

                <p class="cl-99">
                  你为本次团购打几分
                </p>

                <div class="feedback field-group J-feedback mb0 f-pr">

                  <label class="c6">我的总体评价：</label>

                  <!-- 总体评分 -->
                  <div id="stars"></div>
                  <!-- 总体评分 结束-->
                  <div class="cl-99 qdf">
                    请点击星星打分
                  </div>
                </div>

                <!-- 评价 -->
                <div id="comment">
                  <div class="m-form">
                      <div class="ml45">
                        <!-- 酒店类分评价 -->

                        <div class="feedback field-group J-feedback mb0">
                          <label class="c6" >{$team['cateone']}：</label>
                          <div id="fuwu"></div>
                        </div>

                        <div class="feedback field-group J-feedback mb0">
                          <label class="c6" >{$team['catetwo']}：</label>
                          <div id="weisheng"></div>
                        </div>

                        <div class="feedback field-group J-feedback mb0">
                          <label class="c6">{$team['catethree']}：</label>
                          <div id="weizhi"></div>
                        </div>
                      </div>


                      <!-- 上传图片 -->
							<div id="upld" class="g-img g-img-ht1">
								<div style="float: left;">
									<input name="file_upload" id="file_upload" type="file" />
								</div>
								<div name="cld1" style="float: left;margin-left:10px; ">
									最多上传9张，按住Ctrl或Shift可选择多张
								</div>
								<div name="cld3" style="float: left;margin-left:10px; ">
									还能上传8张图片(按住Ctrl可选择多张)
								</div>
								<!--<div style="float:right;margin-right: 10px;">
									<input type="checkbox" />&nbsp;<span>匿名评价</span>
								</div>-->
								<div name="cld2" style="display:none;margin-top: 30px;">
									<div id="m-img-box">
<!-- 										<div class="img-box"></div> -->
									</div>
<!-- 									<div id="addpic" style="float:left;border:#ccc dashed 1px;width:48px;height:48px;margin-left: 10px;text-align: center;"> -->
<!-- 										<span id="addpic" style="color:#ccc;font-size:30px;line-height: 40px; ">+</span> -->
<!-- 										<input type="file" style="display: none" id="file_upload_1" /> -->
<!-- 									</div> -->
								</div>								
							</div>
							<!-- 上传图片 -->
                      
                      <textarea class="f-textarea" name="content" rows="5" placeholder="请输入10个以上字符" min="10" max="500"></textarea>
                      
                      <div class="mt5">
                        <button type="button" class="u-btn u-btn-c2" id="send-review">
                          发表评价
                        </button>
                      </div>
                  </div>
                  <!-- 评价结束 -->

                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
</div></section>
<script type="text/javascript" src="__JS_PATH__/jquery.raty.js"></script>
<script type="text/javascript" src="__JS_PATH__/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__JS_PATH__/swfobject.js"></script>
<script type="text/javascript">

		 var id="{$id}";
		  var sumscore=0;
		  var cateone=0;
		  var catetwo=0;
		  var catethree=0;
		  var image=new Array();
		$(function() {
			$("#file_upload").uploadify(
				{
					//开启调试
					'debug' : false,
					//是否自动上传
					'auto' : true,
					//允许多文件选择
					'multi ':true,
					//'rollover':true, 
					//超时时间
					'successTimeout' : 99999,
					//flash
					'swf' : "__IMAGE_PATH__/uploadify.swf",
					//不执行默认的onSelect事件
					'overrideEvents' : [ 'onDialogClose' ],
					//文件选择后的容器ID
					'queueID' : 'uploadfileQueue',
					//服务器端脚本使用的文件对象的名称 $_FILES个['upload']
					'fileObjName' : 'upload',
					//上传处理程序
					'uploader' : "{:U('Public/uploadReview')}",
					//浏览按钮的背景图片路径
					'buttonImage' : '__IMAGE_PATH__/shaitu.png',
					//浏览按钮的显示文字
					//'buttonText':'晒图',
					//文件存放目录
					//'folder ':'uploadify/img',
					//'method':'post',
					//浏览按钮的宽度
					'width' : '42',
					//浏览按钮的高度
					'height' : '24',
					//expressInstall.swf文件的路径。
					'expressInstall' : '__IMAGE_PATH__/expressInstall.swf',
					//在浏览窗口底部的文件类型下拉菜单中显示的文本
					'fileTypeDesc' : '支持的格式：',
					//允许上传的文件后缀
					'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',
					//上传文件的大小限制
					'fileSizeLimit' : '3000KB',
					//上传数量
					'queueSizeLimit' : 9,
					//每次更新上载的文件的进展
					'onUploadProgress' : function(file, bytesUploaded,
							bytesTotal, totalBytesUploaded, totalBytesTotal) {
						//有时候上传进度什么想自己个性化控制，可以利用这个方法
						//使用方法见官方说明
					},
					//选择上传文件后调用
					'onSelect' : function(file) {
						$("#upld").attr("class","g-img g-img-ht2");
						$("div[name='cld1']").hide();
						$("div[name='cld3']").hide();
						$("div[name='cld2']").show();
					},
					//返回一个错误，选择文件的时候触发
					'onSelectError' : function(file, errorCode, errorMsg) {
						switch (errorCode) {
						case -100:
							alert("上传的文件数量已经超出系统限制的"
									+ $('#file_upload').uploadify('settings',
											'queueSizeLimit') + "个文件！");
							break;
						case -110:
							alert("文件 ["
									+ file.name
									+ "] 大小超出系统限制的"
									+ $('#file_upload').uploadify('settings',
											'fileSizeLimit') + "大小！");
							break;
						case -120:
							alert("文件 [" + file.name + "] 大小异常！");
							break;
						case -130:
							alert("文件 [" + file.name + "] 类型不正确！");
							break;
						}
					},
					//检测FLASH失败调用
					'onFallback' : function() {
						alert("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。");
					},
					//上传到服务器，服务器返回相应信息到data里
					'onUploadSuccess' : function(file, data, response) {
						data=eval('('+data+')');
						if(data.state=='SUCCESS'){
							$("#m-img-box").append(data.url);
							image.push(data.img);
							var num=$('#m-img-box').find('img').length;
							if(num>=9){
								$('#file_upload').hide();
							}
						}else{
							$('#error-con').html($('#error-top-tmpl').tmpl({error:data.msg}));
						}
					},
				});	
		  var hintList = ['很不满意', '不满意', '一般', '满意', '很满意'];
    $('#stars').raty({
        onClick : function(score,evt) {
          //$("#comment").show();
          sumscore=score; 
        },
        hintList :hintList,
        starOn : 'bigstar-on.png',
        starOff : 'bigstar-off.png',
        path:     '__IMAGE_PATH__/img/'
    });
    $('#fuwu').raty({
         onClick : function(score,evt) {
          cateone=score; 
        },
        hintList :hintList,
        starOn : 'bigstar-on.png',
        starOff : 'bigstar-off.png',
        path:     '__IMAGE_PATH__/img/'
    });

    $('#weisheng').raty({
         onClick : function(score,evt) {
          catetwo=score; 
        },
        hintList :hintList,
        starOn : 'bigstar-on.png',
        starOff : 'bigstar-off.png',
        path:     '__IMAGE_PATH__/img/'
    });

    $('div#weizhi').raty({
         onClick : function(score,evt) {
          catethree=score; 
        },
        hintList :hintList,
        starOn : 'bigstar-on.png',
        starOff : 'bigstar-off.png',
        path:     '__IMAGE_PATH__/img/'
    });   
    
    // 删除图片
    $('#m-img-box img').die().live('click',function(){
        var value = $(this).attr('src');
        var index = $.inArray(value,image);
        image.splice(index,1);
        $(this).remove();
        if(image.length < 9){
            $('#file_upload').show();
        }
        return false;
    });
    var sendReview=function(){
    	var content=$('textarea[name=content]').val();
	      image=encodeURI(image);
	      var postData={
	        sumscore:sumscore,
	        cateone:cateone,
	        catetwo:catetwo,
	        catethree:catethree,
	        id:id,
	        content:content,
	        image:image
	      };
	      if(sumscore==0 || cateone==0 || catetwo==0 || catethree==0 || !content){
	      	 $('#error-con').html($('#error-top-tmpl').tmpl({error:'请打分或输入评价内容后再进行发表评论！'}));
	      }else{
	        $.post("{:U('Member/doReview')}",postData,function(data){
	          if(data.status==1){
	          	 $('#error-con').html($('#success-top-tmpl').tmpl({success:data.info}));
	          	 window.setTimeout(function(){
	          	 	location.href=data.url;
	          	 },3000);     
	          }else{
	          	 $('#error-con').html($('#error-top-tmpl').tmpl({error:data.info}));
	          }
	        })
	      }
	      return false;
    }
    $('#send-review').click(sendReview);
  })
</script>
<include file="Common:footer" />