<include file="Common:header" />
<include file="Common:nav" />
<link href="__CSS_PATH__/detail.css?v={:C('CSS_VER')}" rel="stylesheet" type="text/css" />
<section>
    <div id='section'>
    <include file="left" />
    <div id="pcontent" class="coupons-box fl">

        <div class="pmainbox mine">

            <div class="tab">
                <div class="tab_menu">
                    <ul >
                        <li>
                            <a href="{:U('Member/growthList')}">我的成长值</a>
                        </li>
                        <li>
                            <a href="{:U('Member/creditList')}">我的积分</a>
                        </li>
                        <li class="selected">
                            <a href="{:U('Member/scoreGoods')}">积分商城</a>
                        </li>
                        <li>
                            <a href="{:U('Member/scoreList')}">积分兑换记录</a>
                        </li>
                    </ul>
                </div>

                <div class="tab_box">
                    <!-- 积分商城开始 -->
                    <div id="credit">
                  <span class="db myjf f-fs3">
                    <b>我当前的积分是</b>
                    <span class="f-fwb cl-f7 score">{$member.score}</span>
                    <b>分</b>
                  </span>
                        <span><a href="{:U('Member/scoreList')}" class="aColor">积分兑换记录</a></span>
                        <div class="points-goods">
                            <ul>
                                <volist name="list" id="row">
                                <li><a href="{:U('Member/scoreDetail',array('id'=>$row['id']))}">
                                    <span><img src="{$row['image']|getImagePath}"></span>
                                    <span class="goods-title">{$row['name']}</span></a>
                                    <span class="goods-points">
                                        <label class="fl points">
                                            兑换积分
                                            <label class="t_orange ml15 font-20">{$row['score']}</label>
                                        </label>
                                        <lable class="btn-o"><a href="{:U('Member/createScoreCoupon',array('id'=>$row['id']))}" onclick="createScoureCoupon(this.href);return false;">兑换</a></lable>
                                    </span>
                                </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="pagination">
                            {$pages}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <!--兑换成功-->
        <a id="cart-alert-click" href="#cart-alert"></a>
        <div style="display:none">
            <div class="cart-alert" id="cart-alert">
                <div class="cart-alert-left" style="width: 200px;">
                    <img src="__IMAGE_PATH__/check.png"/>
                    <label><h4>恭喜您，兑换成功</h4></label>
                    <label class="cart-textremark">您的兑换码是:<span id="alert-cart-num" style="display:inline;color:red;">0</span></label>
                </div>
                <div class="cart-alert-right" style="width: 310px;">
                    <li><a href="javascript:;" id="continue-cart"><<继续浏览</a></li>
                    <li><a href="{:U('Member/scoreList')}">查看兑换记录>></a></li>
                </div>
            </div>
        </div>
        <!--兑换成功-->
    </div>
</section>
<include file="Common:footer" />
<script type="text/javascript">
    // 加入购物车的弹窗,后期根据需求修改
    $(function(){
        $("#cart-alert-click").fancybox({
            'showCloseButton':false
        });
        $("#continue-cart").click(function(){
            $.fancybox.close();
        });
    })
    function createScoureCoupon(url){
        $.get(url,'',function(data){
            if(data.status == 1){
                $('#alert-cart-num').text(data.code);
                $("#cart-alert-click").trigger('click');
            }else{
                alert(data.error);
            }
        })
    }
</script>
