<include file="Common:header" />
<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <include file="Common:message_tip" />
                <style>
                    div.mobile-rebind-dialog table td{
                        height: 40px;
                        vertical-align: middle;
                    }
                </style>
                <div class="mobile-rebind-dialog">
                    <table width="90%" class="m-table f-tac mt10">
                        <tbody>
                        <tr>
                            <td class="f-fwb" style="width:55px;">
                                项目名称
                            </td>
                            <td class="f-tal">
                                {$getcouponteam[0]['title']}
                            </td>
                        </tr>
                        <tr>
                            <td class="f-fwb" style="width:55px;">
                                验证时间
                            </td>
                            <td class="f-tal">
                                <div class="f-ib">
                                        	<span class="f-fwb">
                                                        <php>echo date('Y-m-d',$getcouponteam[0]['consume_time'])</php>
                                                  </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-fwb" style="width:55px;">券号</td>
                            <td class="f-tal">
                                <span class="pr20">{$getcouponteam[0]['id']}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="u-btn u-btn-c2" type="button" onclick ="cx_confirm({$getcouponteam[0]['id']})">确认</button>&nbsp;&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->

<include file="Common:footer" />
<script>
    function cx_confirm(coupon_id){
        var qd='y';
        $.get("__ACTION__",{id:coupon_id,qd:qd},function(data){
            parent.window.location.reload(); //刷新父窗口
            parent.$.fancybox.close();
        })
    }

    function cx_out(){
        parent.$('.layui-layer-close').click;
    }
</script>