<include file="Common:header"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
         <!--面包屑导航-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h3><a href="{:U('Finance/withdrawals_record')}">提现记录</a> / <small>提现明细</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--提现说明-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning">
                        <div class="row ">
                            <div class="col-lg-6">
                                <h2>实际提现金额：<i class="text-danger">{$agent_info.money}元</i></h2>
                            </div>
                            <div class="col-lg-3 text-right">
                                <if condition="$agent_info.content neq ''">
                               	<a class="btn btn-primary" data-toggle="modal" href="#modal-form">查看说明</a>   
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--提示框 -->
            <div id="modal-form" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <p>原因:{$agent_info.content|htmlentities}</p>
                                <button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--计算公式-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md text-center">
                        <!--省外：平台使用费设为10%的-->
                        
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-1">
                                <p><h3>结算金额</h3></p>
                                <h3 class="text-danger">{$net_profit_money}元</h3>
                            </div>
                            <div class="col-tags">
                                =
                            </div>
                            <div class="col-lg-8">
                                <if condition="$plat_rate lt 0.3">
                                    <div class="col-tags">
                                        <p>(</p>
                                    </div>
                                </if>
                                <div class="col-sm-2">
                                    <p><h3>本月利润</h3></p>
                                    <p class="text-danger">{$month_profit['all_money']['profit_money']}元</p>
                                </div>
                                <if condition="$plat_rate lt 0.3">
                                <div class="col-tags">
                                    <p>-</p>
                                </div>
                                <div class="col-sm-2">
                                    <p><h3>支付费用</h3></p>
                                    <p class="text-danger">{$payment_fees['all_rate_money']}元</p>
                                </div>
                                <div class="col-tags">
                                    <p>-</p>
                                </div>
                                <div class="col-sm-2">
                                    <p><h3>短信费用</h3></p>
                                    <p class="text-danger">{$sms_charges['sms_money']}元</p>
                                </div>
                                <div class="col-tags">
                                    <p>)</p>
                                </div>
                                </if>
                                <div class="col-tags">
                                    <p>*</p>
                                </div>
                                <div class="col-tags">
                                    <p>(</p>
                                </div>
                                <div class="col-sm-1">
                                    <h2 class="only-one">1</h2>
                                </div>
                                <div class="col-tags">
                                    -
                                </div>
                                <div class="col-sm-2">
                                    <p><h3>平台使用费</h3></p>
                                    <p class="text-danger">{$plat_rate*100}%</p>
                                </div>
                                <div class="col-tags">
                                    {$plat_rate} )
                                </div>
                                <if condition="$plat_rate eq 0.0">
                                    <div class="col-tags">
                                        <p>*{$plat_rate}</p>
                                    </div>
                                </if>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--本月交易利润-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>本月交易利润</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover text-center" id="editable">
                            <thead>
                            <th>商家</th>
                            <th class="text-center">订单数（已减去退款）</th>
                            <th class="text-center">交易金额（已减去退款）</th>
                            <th class="text-center">退款</th>
                            <th class="text-center">接待量</th>
                            <th class="text-center">利润</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>合计</th>
                                    <td>{$month_profit['all_money']['order_count']}</td>
                                    <td>{$month_profit['all_money']['order_sum_money']}元</td>
                                    <td>{$month_profit['all_money']['order_refund_sum_money']}元（{$month_profit['all_money']['order_refund_count']}）</td>
                                    <td>{$month_profit['all_money']['reception_count']}</td>
                                    <td>{$month_profit['all_money']['profit_money']}元</td>
                                </tr>
                            <volist id='mpl' name="month_profit['list']">
                                <tr>
                                    <th>{$mpl['partner_username']}</th>
                                    <td>{$mpl['partner_order_count']}</td>
                                    <td>{$mpl['partner_order_sum_money']}元</td>
                                    <td>{$mpl['partner_order_refund_sum_money']}元（{$mpl['partner_order_refund_count']}）</td>
                                    <td>{$mpl['partner_reception_count']}</td>
                                    <td>{$mpl['partner_profit_money']}元</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-5">
                            </div>
                            <div class="col-sm-2">
                                <a href="{:U('Finance/withdrawals_profit_all',array('month'=>$month))}" class="btn btn-outline btn-success">查看详情</a>
                            </div>
                            <div class="col-lg-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--..//本月交易利润结束-->
        <!--支付费用统计-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>支付费用统计</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover text-center" id="editable">
                            <thead>
                            <th>费用类型</th>
                            <th class="text-center">金额</th>
                            <th class="text-center">费率</th>
                            <th class="text-center">手续费</th>
                            </thead>
                            <tbody>
                            <volist name="payment_fees['list']" id="pfl">
                                <tr>
                                    <th>{$pfl['name']}</th>
                                    <td>{$pfl['money']}</td>
                                    <td>{$pfl['rate']}</td>
                                    <td>{$pfl['rate_money']}</td>
                                </tr>
                            </volist>
                                <tr>
                                    <th>合计</th>
                                    <td>~</td>
                                    <td>~</td>
                                    <td>{$payment_fees['all_rate_money']}元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--..//支付费用统计结束-->
        <!--短信费用-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>短信费用</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover text-center" id="editable">
                            <thead>
                            <th>条数</th>
                            <th class="text-center">费率</th>
                            <th class="text-center">费用</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{$sms_charges['sms_count']}</td>
                                    <td>{$sms_charges['rate']}</td>
                                    <td>{$sms_charges['sms_money']}元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--..//短信费用结束-->
    </div>
    <!--..//提现输入快递框-->
<include file="Common:footer"/>
<script src="__JS_PATH__/content.min.js?v=1.0.0"></script>
<script>
</script>
</body>
</html>