<include file="Common:header"/>
<!--下线团单-->
<link href="__PLUGINS_PATH__/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="__PLUGINS_PATH__/datapicker/datepicker3.css" rel="stylesheet" />
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
             	<div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form role="form" class="form-inline" method="get" action="__ACTION__">
                            <div class="form-group">
                                <label for="id" class="sr-only">用户编号</label>
                                <input type="text" class="form-control" name="id" value="{$displayWhere['id']}" placeholder="用户编号">
                            </div>
                            <div class="form-group">
                                <label for="product" class="sr-only">关键字</label>
                                <input type="text" class="form-control" name="product"  value="{$displayWhere['username']}" placeholder="关键字">
                            </div>
                            <div class="form-group">
                            	<label class="sr-only">分类</label>
                            	<select name="group_id" class="form-control">
                                    <option value="">--请选择分类--</option>
                                    <volist name="group_list" id="vo">
                                    <option value="{$vo['id']}" <if condition="$displayWhere['group_id'] eq $vo['id']">selected</if>>{$vo['name']}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="start_time" class="sr-only">开始日期</label>
                                <input type="text" name="start_time" value="{$displayWhere['start_time']}" class="form-control" placeholder="开始日期" id="start_time" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="end_time" class="sr-only">结束日期</label>
                                <input type="text" name="end_time" value="{$displayWhere['end_time']}" class="form-control" placeholder="结束日期" id="end_time" class="form-control">
                            </div>
                            <input class="btn btn-primary" type="submit" value="筛选" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover text-center" id="editable">
                            <thead>
                                <tr>
                                    <th>团单编号</th>
                                    <th>团单标题</th>
                                    <th>团单分类</th>
                                    <th>团单时间</th>
                                    <th>成交</th>
                                    <th>价格</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="data" id="vo">
			                        <tr>
			                            <td>{$vo['id']}<br/><i class="text-danger">权重：{$vo['sort_order']}</i></td>
			                            <td>{$vo['product']}<br />
			                            	今日浏览共<i class="text-danger">{$vo['view_count_day']}</i>次<br />											{$vo['pusername']}
			                            </td>
			                            <td>{$vo['city_name']}<br />{$vo['cate_name']}<br />{$vo['username']}</td>
			                            <td>{$vo['begin_time']|date="Y-m-d",###}<br />{$vo['end_time']|date="Y-m-d",###}<br />{$vo['expire_time']|date="Y-m-d",###}</td>
			                            <td>{$vo['now_number']}<br />{$vo['ucaii_price']}<br />{$vo['team_price']-$vo['ucaii_price']}</td>
			                            <td>{$vo['team_price']}</td>
			                            <td>
			                                <if condition="$res = auth_check_access(array('Team/getTeamDetail'))">
			                                    <button class="btn btn-info btn-sm J_menuItem layer-iframe" data-href="__URL__/getTeamDetail/id/{$vo[\'id\']}" data-title="团单详情"><i class="fa fa-binoculars"></i> 详情</button>
			                                </if>
			                                <if condition="$res = auth_check_access(array('Team/edit'))">
			                                    <a href="__URL__/edit/id/{$vo['id']}" class="btn btn-info btn-sm J_menuItem"><i class="fa fa-paste"></i> 编辑</a>
			                                </if>
			                            </td>
			                        </tr>
			                    </volist>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">
                                    共 {$count} 项
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                    {$pages}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Common:footer"/>
    <script src="__PLUGINS_PATH__/jeditable/jquery.jeditable.js"></script>
    <script src="__PLUGINS_PATH__/dataTables/jquery.dataTables.js"></script>
    <script src="__PLUGINS_PATH__/dataTables/dataTables.bootstrap.js"></script>
    <script src="__PLUGINS_PATH__/layer/layer.js"></script>
    <script src="__PLUGINS_PATH__/layer/layer.config.js"></script>
    <script src="__PLUGINS_PATH__/datapicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var $endtime;
    		$("#start_time").datepicker({
    			format: "yyyy-mm-dd",
				endDate:new Date()
    		}).on("changeDate",function(){
    			$endtime = $(this).val();
				$("#end_time").datepicker({
					 	startDate:new Date($endtime),
					 	endDate:new Date()
						 });
    		})
    	})
    </script>
    
</body>


</html>