<include file="Common:header" />
<!-- 新增提示层  2015-1-26  作者：oldfu-->
<include file="Common:tip" />
<!-- 新增提示层结束  2015-1-26 -->
<div id="bdw" class="bdw">    
    <div id="bd" class="w980 cf f-pr" >
        <div id="account">
            <include file="Common:menu" />
            <div class="e-content e-content--hastab pg-coupon-verify f-pr">
                    <div class="head pt10 pb10">
                     <h2>青团券列表</h2>
                    </div>
                    <include file="Common:branch" />
                    <include file="CouponDetail:search" />
                    <include file="CouponDetail:list" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS_PATH__/CouponDetail.js"></script>
<include file="Common:footer" />