<!-- 弹出层 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    ]<div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header bg-primary f-tac f-fs2">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="myModalLabel">青团网电话验证系统使用说明</h4>

            </div>

            <div class="modal-body">
                <p>
                    前提：使用该系统验证前，须由商户提供用于验证的电话号码（座机号或手机号），由网站工作人员将该号码绑定到系统。当青团用户到商家消费，商户即可使用绑定的电话进行验证。
                </p>

                <ol>

                    <li>
                        使用绑定的电话拨打4000-12306-6
                    </li>

                    <li>
                        等待系统自动验证该电话是否已绑定，未绑定提示“对不起，您的电话还未绑定”
                    </li>

                    <li>
                        确认绑定后，按照系统的语音提示：“请输入12位青团券，按“#”结束”
                    </li>

                    <li>
                        语音提示系统验证结果:
                        提示内容	含义
                        语音提示：该券为“团购产品名称(如：中影时代影城2D电影票28元套餐）”，验证请按“1#”，取消请按“2#”。（见下方特别说明）	若确认验证，请按“1”，则验证成功！（语音提示内容：密码验证成功，可以消费。）
                        取消本次验证按“0”，则不验证。
                        无效的密码，无法消费。	验证失败！表示输入的青团券密码错误。
                        密码已使用，无法消费。	验证失败！表示输入的青团券密码已经被使用过。
                    </li>

                    <li>
                        若继续验证其他青团用户的密码，可以直接输入密码（操作步骤同3、4）；
                    </li>

                    <p>
                        结束验证，请挂断。
                    </p>

                </ol>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close" id="qd">
                    确定
                </button>

            </div>

        </div>

    </div>

</div>