<include file="Common:header" />

<section>
    <!--左侧导航-->
    <include file="Financial:menu" />
    <div class="content">
        <div class="con-title">代理结算<span class="tx-green">+</span></div>
        <div class="con-form">
            <form class="myform" action="{:U('Financial/agentSettlement')}" method="get">
                <li><label>地区</label>
                    <select name="city_id">
                        <option value="">--请选择地区--</option>
                        <volist  name="citys" id="city">
                            <option value="{$city.id}"  <if condition="$city.id == $city_id"> selected </if>>{$city.letter}-{$city.name}</option>
                        </volist>
                    </select>
                </li>
                <li><label>结算类型</label>
                    <select name="is_paymark">      
                        <option value="">全部</option>
                        <option value="N" <if condition="$is_paymark=='N'"> selected </if>>未结算</option>
                        <option value="Y"  <if condition="$is_paymark=='Y'"> selected </if>>已结算</option>
                    </select>
                </li>
                <li><label>申请日期</label><input class="laydate-icon w70" name="apply_date" value="{$apply_date|default=''}" format="YYYY-MM-DD"  id="start" type="text" ><label>,</label></li>
                <li><label>结算日期</label><input class="laydate-icon w70" id="end" name="pay_date" value="{$pay_date|default=''}" format="YYYY-MM-DD"  type="text"><label>,</label></li>
                <li>
                    <input type="submit" class="btn-teal small-btn" value="筛选" />
                </li>
            </form>
            <div class="form-list">
                <table cellpadding="0" cellspacing="0">
                    <tr class="list-title">
                        <th class="w80">代理</th>
                        <th class="w80">操作人</th>
                        <th class="w120">提现内容</th>
                        <th class="w150">金额(单位：元)</th>
                        <th class="w80">明细</th>
                        <th class="w100">申请时间</th>
                        <th class="w100">账户</th>
                        <th class="w100"><img src="__IMAGE_PATH__/ico/list_title_menu.png"></th>
                    </tr>
                    <volist  name="list" id="vo">
                        <tr class='list'>
                            <td class="w80"><label class="bx-teal">{$vo.city_name}</label></td>
                            <td  class="w80"><label class="td-title">{$vo.agent_user_name}</label></td>
                            <td class="w150"><label>{$vo.apply_time|date='y年m月份提现',###}</label></td>
                            <td class="w150"><label>{$vo.money}</td>
                            <td class="w80">
                        <if condition="$res = auth_check_access(array('Financial/agentSettlementView'))">
                            <label>
                                <a style='color: #626061;'  href="javascript:popup('{:U('Financial/agentSettlementView',array('agent_pay_id'=>$vo['id']))}',700,500);">查看明细</a>
                            </label>
                        </if>
                        </td>
                        <td class="w100">
                            <label>
                                {$vo.create_time|date='Y-m-d',###}
                            </label>
                        </td>
                        <td class="w200">
                            <label class="tx-teal">{$vo.agent_bank_no}</label><br/>
                            <label>{$vo.agent_bank_user}</label><br/>
                            <label>{$vo.agent_bank_name}</label><br/>
                            <label>{$vo.agent_user_mobile}</label>
                        </td>

                        <td class="w120 f-12 man">
                        <if condition="$vo.paymark neq 1">
                             <label  class="bc-teal">
                                <a class='agent_settlement' confirm_tip='确定给该代理已结算？' href="{:U('Financial/agentDoSettlement',array('agent_pay_id'=>$vo['id']))}" > 结算 </a>
                            </label>
                            <label class="bc-red">
                                <a href="javascript:popup('{:U('Financial/abnormal_submit',array('agent_pay_id'=>$vo['id']))}', 300, 300)" class="fancybox fancybox.iframe"> 异常 </a>
                            </label>
                            <else/>   
                            <label  class="bc-grey">
                                已结算 
                            </label>
                            <if condition="$vo.content neq ''">
                                 <label class="bc-orange">
                                    <a href="javascript:popup('{:U('Financial/abnormal_submit',array('agent_pay_id'=>$vo['id']))}', 300, 300)" class="fancybox fancybox.iframe"> 异常记录 </a>
                                </label>
                            </if>
                        </if>
                        <label  class="bc-teal">
                                <a href="javascript:popup('{:U('Financial/express_view',array('agent_pay_id'=>$vo['id']))}', 300, 150)" class="fancybox fancybox.iframe"> 发票快递 </a>
                        </label>
                        <if condition="$vo.down_type eq 'N'">
                            <label  class="bc-teal">
                                <a class='agent_settlement' confirm_tip='确定要审核？' href="{:U('Financial/agentshenh',array('id'=>$vo['id']))}" > 审核 </a>
                            </label>
                            <else/>
                            已审核
                        </if>
                        </td>
                        </tr>
                    </volist>
                </table>
                <div class="selectpage">
                    <include file="Financial:page" />
                </div>
            </div>
        </div> 
    </div>
</section>
<script type="text/javascript" src="__JS_PATH__/financial.js?v={:C('JS_VER')}"></script>
<include file="Common:footer" />