<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>青团生活 - 本地青年精品生活指南，青团安卓APP-青团苹果APP-青团商家APP下载</title>
        <meta name="description" content="本地青年精品生活指南" />
        <meta name="keywords" content="生活指南，青团安卓APP，青团苹果APP，青团商家APP下载"/>
        <meta name="author" content="youngt.com"/>
        <link rel="icon" type="image/png" href="__JS_PATH__/public_client/img/favicon.ico"/>

        <!-- Bootstrap -->
        <link href="__JS_PATH__/public_client/css/bootstrap.min.css" rel="stylesheet">

        <link href="__JS_PATH__/public_client/css/font-awesome.css" rel="stylesheet">
        <link href="__JS_PATH__/public_client/css/flexslider.css" rel="stylesheet">
        <link rel="stylesheet" href="__JS_PATH__/public_client/css/magnific-popup.css">
        <link rel="stylesheet" href="__JS_PATH__/public_client/css/animate.css">

        <!-- My Style -->
        <link href="__JS_PATH__/public_client/css/style.css" rel="stylesheet">
        <link href="__JS_PATH__/public_client/css/responsive.css" rel="stylesheet">

        <script src="__JS_PATH__/public_client/js/modernizr.custom.12691.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <!-- Preloader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <!-- Navigation -->
        <section id="navigation" class="navbar-fixed-top not-visible-nav">
            <div class="menu-position">
                <div class="nav-logo"> 
                    <a href="index.html" class="logo">
                        <img src="__JS_PATH__/public_client/img/nav-logo.png" alt="logo">
                    </a>
                </div>

                <a class="mini-nav-button"><i class="nav-fa fa fa-bars"></i></a>

                <div class="nav-menu"> 
                    <ul class="nav">
                        <li class="active"><a href="#home" class="scroll">首页</a></li>
                        <li class="#"><a href="#about" class="scroll">关于</a></li>
                        <li class="#"><a href="#features" class="scroll">功能</a></li>
                        <li class="#"><a href="#team" class="scroll">团队</a></li>
                        <li class="#"><a href="#screenshots" class="scroll">截屏</a></li>
                        <li class="#"><a href="#downloads" class="scroll">下载</a></li>
                        <li class="#"><a href="#contact" class="scroll">联系</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Homepage -->
        <section id="home" class="banner" style="height: 750px;">
            <div id="bannerSlider" class="carousel carousel-fade slide" data-ride="carousel">

                <ol class="carousel-indicators waypoint">
                    <li data-target="#bannerSlider" data-slide-to="0" class="active"></li>
                    <li data-target="#bannerSlider" data-slide-to="1" class=""></li>
                    <li data-target="#bannerSlider" data-slide-to="2" class=""></li>
                    <li data-target="#bannerSlider" data-slide-to="3" class=""></li>
                </ol>

                <!-- Carousel -->
                <div class="carousel-inner">

                    <div class="item active slider1">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="content">
                                        <a href="#about" class="scroll wow bounceIn"><img src="__JS_PATH__/public_client/img/logo.png" alt="mobile-apps"></a>
                                        <br>
                                        <div class="divider-top"></div>
                                        <h1 class="wow bounce"><span class="highlight">青团生活</span>iPhone版</h1>
                                        <div class="divider"></div>
                                        <h3>本地精品生活指南</h3>
                                        <h3>www.Youngt.com</h3>
                                        <br>
                                        <a href="#about" class="btn btn-learn btn-learna fa fa-plus scroll wow bounceInLeft">产品介绍</a>
                                        <a href="https://itunes.apple.com/cn/app/qing-tuan/id681045261?mt=8" target="_blank" class="btn btn-download btn-downloada fa fa-download scroll wow bounceInRight">点击下载</a>
                                        <div class="phone1 wow bounceInUp" data-wow-delay="0.4s"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="item slider2">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="content">
                                        <a href="#about" class="scroll wow bounceIn"><img src="__JS_PATH__/public_client/img/logo.png" alt="mobile-apps"></a>
                                        <br>
                                        <div class="divider-top"></div>
                                        <h1><span class="highlight">青团生活</span>Android版</h1>
                                        <div class="divider"></div>
                                        <h3>本地精品生活指南</h3>
                                        <h3>www.Youngt.com</h3>
                                        <br>
                                        <a href="#features" class="btn btn-learn btn-learna fa fa-plus scroll wow bounceInLeft">功能特色</a>
                                        <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.groupbuy.qingtuan" target="_blank" class="btn btn-download btn-downloada fa fa-download scroll wow bounceInRight">点击下载</a>
                                        <div class="phone2 wow bounceInUp" data-wow-delay="0.4s"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item slider3">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="content">
                                        <a href="#about" class="scroll wow bounceIn"><img src="__JS_PATH__/public_client/img/logo.png" alt="mobile-apps"></a>
                                        <br>
                                        <div class="divider-top"></div>
                                        <h1><span class="highlight">青团生活</span>iPad版</h1>
                                        <div class="divider"></div>
                                        <h3>本地精品生活指南</h3>
                                        <h3>www.Youngt.com</h3>
                                        <br>
                                        <a href="#about" class="btn btn-learn btn-learna fa fa-plus scroll wow bounceInLeft">开发中</a>
                                        <a href="#downloads" class="btn btn-download btn-downloada fa fa-download scroll wow bounceInRight">敬请期待</a>
                                        <div class="phone3 wow bounceInUp" data-wow-delay="0.4s"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item slider4">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="content">
                                        <a href="#about" class="scroll wow bounceIn"><img src="__JS_PATH__/public_client/img/logo.png" alt="mobile-apps"></a>
                                        <br>
                                        <div class="divider-top"></div>
                                        <h1><span class="highlight">青团商户</span>安卓版</h1>
                                        <div class="divider"></div>
                                        <h3>本地精品生活指南</h3>
                                        <h3>www.Youngt.com</h3>
                                        <br>
                                        <a href="#screenshots" class="btn btn-learn btn-learna fa fa-plus scroll wow bounceInLeft">产品界面</a>
                                        <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.groupbuy.partnerqingtuan" target="_blank" class="btn btn-download btn-downloada fa fa-download scroll wow bounceInRight">点击下载</a>
                                        <div class="phone4 wow bounceInUp" data-wow-delay="0.4s"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- /.carousel -->
            <a class="left carousel-control" href="#bannerSlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#bannerSlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <div style="clear: both;"></div>
        </section>
        <!-- About -->
        <section id="about">
            <div class="container">
                <div class="col-md-12">

                    <div class="about wow bounce">
                        <h2>产品介绍<span>青团生活——本地青年精品生活指南</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 wow bounceIn" style="margin-top:-30px;">
                        <img src="__JS_PATH__/public_client/img/phones/1.png" class="img-responsive" alt="mobile-apps">
                    </div>

                    <div class="col-md-4 col-sm-4 add-top">
                        <div class="list wow fadeInUp">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/cog-icons.png" alt="flaticons">
                            <h5>吃喝玩乐，全网最低</h5>
                            <p>找美食、看电影、住酒店，本地生活一手掌握。</p>
                        </div>

                        <div class="list wow fadeInUp" data-wow-delay="0.4s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/brush-icons.png" alt="flaticons">
                            <h5>附近团购，优惠信手拈来</h5>
                            <p>查附近、看周边，距离筛选，附近超值优惠任你选。</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 add-top">
                        <div class="list wow fadeInUp" data-wow-delay="0.2s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/pencil-icons.png" alt="flaticons">
                            <h5>本地商品，限时特卖</h5>
                            <p>服装、鞋帽、家电、建材统统可以优惠，限时折扣！</p>
                        </div>

                        <div class="list wow fadeInUp" data-wow-delay="0.6s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/mobile-icons.png" alt="flaticons">
                            <h5>积分商城，兑换全城</h5>
                            <p>积分累计，兑换各种超值福利，消费越多福利越多哦！</p>
                        </div>
                    </div>

                </div>
            </div>
            <div style="clear: both;"></div>
        </section>




        <!-- Feature -->
        <section id="features">
            <div class="container">
                <div class="col-md-12">

                    <div class="features wow bounce add-bottom">
                        <h2>功能特色<span>青团生活——本地青年精品生活指南</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="list wow fadeInUp">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/thumbsup-icons.png" alt="responsive">
                            <h5>团购外卖</h5>
                            <p>团购优惠，外卖到家，哪里实惠去哪里！</p>
                        </div>

                        <div class="list wow fadeInUp" data-wow-delay="0.4s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/diamond-icons.png" alt="responsive">
                            <h5>同城信息</h5>
                            <p>招聘、求职、二手交易、租房售房，收集本地生活需求信息。</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="list wow fadeInUp" data-wow-delay="0.2s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/html5-icons.png" alt="responsive">
                            <h5>上门服务</h5>
                            <p>家政、保姆、开锁，化妆，婚庆，等等服务，一键应有。</p>
                        </div>

                        <div class="list wow fadeInUp" data-wow-delay="0.6s">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/video-icons.png" alt="responsive">
                            <h5>点评口碑</h5>
                            <p>商家的信用体系十分完善，让消费者体验最真实的消费</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 wow bounceIn" style="margin-top:-30px;">
                        <img src="__JS_PATH__/public_client/img/phones/2.png" class="img-responsive" alt="responsive">
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </section>


        <!-- Call-To-Action -->
        <section id="action">
            <div class="container">
                <div class="col-md-12 center">
                    <div class="content-action wow bounce">还不快去下载《青团生活》！</div>
                    <h3>如果您不知道您的手机适合安装哪个版本？</h3> 
                    <h3>点击一键扫码，或者一键下载按钮，系统会自动识别你的手机系统进行安装</h3>
                    <br>
                    <a href="#benefits" class="btn btn-learn btn-learna fa fa-plus scroll wow bounceInLeft">一键扫码</a>
                    <a href="#downloads" class="btn btn-download btn-downloada fa fa-download scroll wow bounceInRight">一键下载</a>
                </div>
            </div>
        </section>

        <!-- The Team -->
        <section id="team">
            <div class="container">
                <div class="col-md-12">

                    <div class="team wow bounce add-bottom">
                        <h2>开发团队<span>我们有一支专业的开发团队，让您享受更好的体验！</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <ul class="grid cs-style-3 cs-hover">
                        <li class="wow fadeInRightBig">
                            <figure>
                                <img src="__JS_PATH__/public_client/img/team/1.png" alt="img01">
                                <figcaption>
                                    <h3>Lian Joy</h3>
                                    <h5>界面设计</h5>
                                </figcaption>
                            </figure>
                        </li>

                        <li class="wow fadeInUpBig">
                            <figure>
                                <img src="__JS_PATH__/public_client/img/team/2.png" alt="img01">
                                <figcaption>
                                    <h3>Kres Tian</h3>
                                    <h5>技术总监</h5>
                                </figcaption>
                            </figure>
                        </li>

                        <li class="wow fadeInLeftBig">
                            <figure>
                                <img src="__JS_PATH__/public_client/img/team/3.png" alt="img01">
                                <figcaption>
                                    <h3>Cyr Errol</h3>
                                    <h5>架构师</h5>
                                </figcaption>
                            </figure>
                        </li>

                        <li class="wow fadeInRightBig">
                            <figure>
                                <img src="__JS_PATH__/public_client/img/team/4.png" alt="img01">
                                <figcaption>
                                    <h3>Jenny Lyn</h3>
                                    <h5>产品经理</h5>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>

                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <!-- Benefits -->
        <section id="benefits">
            <div class="container">
                <div class="col-md-12">

                    <div class="benefits wow bounce add-bottom">
                        <h2>更多内容<span>产品还有更多内容和细节等着你去发现……</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="list wow bounceInLeft">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/pc-icons.png" alt="html5">
                            <h5>优惠券系统</h5>
                            <p>无优惠不消费，哪里有优惠，就哪里去消费</p>
                        </div>

                        <div class="list wow bounceInLeft">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/flag-icons.png" alt="html5">
                            <h5>家政系统</h5>
                            <p>类似于阿姨帮的家政功能，本地O2O一块比较大的蛋糕</p>
                        </div>

                        <div class="list wow bounceInLeft">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/search-icons.png" alt="html5">
                            <h5>商城系统</h5>
                            <p>本地O2O重要一环，可以无限的延伸到各种本地O2O</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 wow bounceIn" style="margin-top:-30px;">
                        <img src="__JS_PATH__/public_client/img/phones/3.png" class="img-responsive center" alt="html5">
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="list wow bounceInRight">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/rocket-icons.png" alt="html5">
                            <h5>同城信息</h5>
                            <p>收集本地生活需求信息，流量飙升不是梦</p>
                        </div>

                        <div class="list wow bounceInRight">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/coffee-icons.png" alt="html5">
                            <h5>多渠道支付</h5>
                            <p>支付宝微信 网银在线 银联 财付通 余额支付，真正意义上的解决了客户支付问题</p>
                        </div>

                        <div class="list wow bounceInRight">
                            <img class="flat-icons" src="__JS_PATH__/public_client/img/icons/papers-icons.png" alt="html5">
                            <h5>数据分析系统</h5>
                            <p>强大的数据分析系统分析了网站的重要运营数据，让运营者一目了然</p>
                        </div>
                    </div>

                </div>
            </div>
            <div style="clear: both;"></div>
        </section>



        <!-- Video Support -->
        <section id="video">
            <div class="row wow fadeIn">
                <div class="video-bg" style="padding-top:60px;">
                    <a class="popup-vimeo" href="http://player.vimeo.com/video/66737183?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"><i class="play-icon fa-play-circle-o fa-3x"></i></a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <div style="padding-top:80px;"></div>

        <!-- Screenshots -->
        <section id="screenshots">
            <div class="container"> 
                <div class="main">
                    <div id="ac-wrapper" class="ac-wrapper">
                        <h2>软件界面<span>版本号：V4.0.9</span></h2>
                        <div class="ac-device">
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/1.jpg" alt="screenshots"></a>
                            <h3 class="ac-title">2015-11-10首发</h3>
                            <nav>
                                <p>点击这里切换下一张.</p> 
                                <span>&lt;</span>
                                <span>&gt;</span>
                            </nav>
                        </div>
                        <div class="ac-grid">
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/1.jpg" alt="img1"><span>首页闪屏</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/2.jpg" alt="img1"><span>城市定位切换</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/3.jpg" alt="img1"><span>首页活动推荐</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/4.jpg" alt="img1"><span>更多分类</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/5.jpg" alt="img1"><span>附近优惠商家</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/6.jpg" alt="img1"><span>我的订单&服务</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/7.jpg" alt="img1"><span>限时特卖</span></a>
                            <a href="#"><img src="__JS_PATH__/public_client/img/screenshots/8.jpg" alt="img1"><span>积分商城</span></a>
                        </div>
                    </div>       
                </div>
            </div><!-- /container -->
            <div style="clear: both;"></div>
        </section>

        <!-- Dowloads -->
        <section id="downloads">
            <div class="container">
                <div class="col-md-12">
                    <div class="downloads wow bounce add-bottom">
                        <h2>下载《青团生活》!<span>立刻下载并注册，新用户独享1元吃喝玩乐！</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <div class="dowload-content wow fadeIn">
                        欢迎下载注册《青团生活》APP，未消费，随便退，过期自动退，省心之选!本地吃喝玩乐，美食，休闲娱乐，生活服务，应有尽有！青团生活消费者满意的生活服务平台,美食、ktv、电影、自助餐团购精选!更有给力商品折扣,青团生活-便宜实惠,品质保证,服务专业!青团生活,我的生活!
                    </div>

                    <div class="appstore add-bottom">
                        <a href="https://itunes.apple.com/cn/app/qing-tuan/id681045261?mt=8" target="_blank" class="apps-btn wow fadeInRightBig"><img src="__JS_PATH__/public_client/img/appstore.png" alt="apps"></a>
                        <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.groupbuy.qingtuan" target="_blank" class="apps-btn wow fadeInDownBig"><img src="__JS_PATH__/public_client/img/googleplay.png" alt="apps"></a>
                        <a href="#" class="apps-btn wow fadeInLeftBig"><img src="__JS_PATH__/public_client/img/windows.png" alt="apps"></a>
                        <br>
                    </div>
                    <br>
                    <div class="divider"></div>
                    <div id="apps-icon" class="wow fadeIn">
                        <a href="https://itunes.apple.com/cn/app/qing-tuan-wang/id921133719?mt=8"><span class="apps-icon fa fa-apple fa-2x"></span></a>
                        <a href="#"><span class="apps-icon fa fa-windows fa-2x"></span></a>
                        <a href="http://ytfile.oss-cn-hangzhou.aliyuncs.com/youngt.apk"><span class="apps-icon fa fa-android fa-2x"></span></a>
                        <a href="#"><span class="apps-icon fa fa-html5 fa-2x"></span></a>
                    </div>


                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <!-- Counter -->
        <section id="counter">
            <div class="container">
                <div class="col-md-12">
                    <div class="col-md-3 col-xs-6">
                        <h1 class="count">1200000</h1>
                        <h6>+产品数量</h6>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <h1 class="count">11000000</h1>
                        <h6>+用户量</h6>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <h1 class="count">150000</h1>
                        <h6>+签约商户</h6>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <h1 class="count">34000000</h1>
                        <h6>下载量</h6>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <!-- Testimonials -->
        <section id="testimonials">
            <div class="quote">
                <div class="container">
                    <div class="col-md-12">

                        <div class="flexslider center">
                            <ul class="slides">
                                <li>
                                    <div class="testimonial">青团网是我上大学的时候就接触到的团购网站，可以说伴随了我大学的快乐时光，确实给我们这些大学生带来了实实在在的实惠，服务一直很好，套餐更新也很及时，在我们学生圈中口碑很好！现在我听说青团网越做越大了，青团网的创业历程已经是我们学校经管学院的教学案例了，我很多同学加盟了青团网做分站代理，真心希望青团网越做越好！.</div>
                                    <div class="divider"></div>
                                    <img class="center" src="__JS_PATH__/public_client/img/client/3.jpg" alt="client"><br>
                                    <span class="client-info">jiji199055 </span><span>| 五星会员</span>
                                    <div class="site-info">http://koubei.baidu.com/c/236226?fr=site-comtlist-content</div>
                                </li>

                                <li>
                                    <div class="testimonial">很生活化，很具象。在日常的生活当中起到了很好的作用，给我省了不少钱，当然造福人类是一件很伟大的事情哈！这些年，团购越来越盛行，也越来越实用了，希望青团以后有更好地发展吧. </div>
                                    <div class="divider"></div>
                                    <img class="center" src="__JS_PATH__/public_client/img/client/1.jpg" alt="client"><br>
                                    <span class="client-info">n66941088 </span><span>| 五星会员</span>
                                    <div class="site-info">http://koubei.baidu.com/c/264219?fr=site-comtlist-content</div>
                                </li>

                                <li>
                                    <div class="testimonial">在青团上已经消费N多次了，非常实惠的网站，合乎百姓消费的理念，经济实惠，惠民大众的平台，以后会继续支持的，超爱的网站，必看的网站~！.</div>
                                    <div class="divider"></div>
                                    <img class="center" src="__JS_PATH__/public_client/img/client/2.jpg" alt="client"><br>
                                    <span class="client-info">766082138 </span><span>| 五星会员</span>
                                    <div class="site-info">http://koubei.baidu.com/c/266735?fr=site-comtlist-content</div>
                                </li>

                                <li>
                                    <div class="testimonial">挺好的，业务经常到我们这里来，问我们想去哪家玩啊，吃饭啊什么的，他就主动去找商家了，感觉很贴心，很不错，继续努力！！身边好多人都在青团，可以试试！.</div>
                                    <div class="divider"></div>
                                    <img class="center" src="__JS_PATH__/public_client/img/client/2.jpg" alt="client"><br>
                                    <span class="client-info">茹茹果爱  </span><span>| 五星会员</span>
                                    <div class="site-info">http://koubei.baidu.com/c/236199?fr=site-comtlist-content</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="container">
                <div class="col-md-12">

                    <div class="contact wow bounce add-bottom">
                        <h2>留言反馈<span>如果您有什么好的建议或者问题，欢迎反馈.</span></h2>
                        <div class="divider add-bottom"></div>
                    </div>

                    <div class="wow fadeIn">
                        <div class="col-md-4" style="padding-top:20px; text-align:center;">
                            <a class="popup-gmaps" href=""><span class="map-icon fa fa-map-marker fa-3x"></span></a>
                            <div class="contact-info">陕西省西安市</div>
                            <div class="contact-info">长安南路 国展中心88号</div>
                            <div class="contact-info">Tell: +86-029-87035182</div>
                            <div class="contact-info">Email: popguy#qq.com</div>
                            <a href="" class="map-btn btn-default map-btn">点击查看地图</a>
                        </div>
                    </div>


                    <form method="post" action="{:U('Public/userFeedback')}"  id="client-submit-form"> <!-- Form -->
                        <div class="wow fadeIn">
                            <div class="col-md-4"> <!-- Left Form -->
                                <input type="email" placeholder="邮箱" name="contact" required class="c-text" >
                                <input type="text" placeholder="姓名" name="title" required class="c-text" >
                                <input type="text" placeholder="标题" name="phone" required class="c-text" >
                            </div> <!-- End Left Form -->
                        </div>

                        <div class="wow fadeIn">
                            <div class="col-md-4"> <!-- Right Form -->
                                <textarea name="content"  class="m-text" required placeholder="留言内容" rows="3"></textarea>
                                <button id="client-submit-btn" type="button" id="" name="subscribe" class="send-text contact-btn">点击提交</button>
                            </div><!-- End Right Form -->
                        </div>

                    </form> <!-- End Form -->

                </div>
            </div>
            <div style="clear: both;"></div>
        </section>

        <!-- Subcription -->

        <section id="subscription">
            <div class="container"> <!-- Container-->
                <div class="col-md-12"> <!-- 12 Column Grid-->
                    <div class="col-md-4 wow bounceIn"> <!-- 4 Column Grid-->
                        <img src="__JS_PATH__/public_client/img/phones/4.png" class="img-responsive" alt="phone">
                    </div> <!-- End 4 Column Grid-->

                    <div class="col-md-8"> <!-- 8 Column Grid-->
                        <h2 class="wow flipInX">如果您想了解如何加盟分站，创业做代理？</h2>
                        <h3 class="wow flipInX">青团开通加盟渠道，欢迎各界加盟共享互联网红利，总部提供全方位支持，欢迎报名！</h3>

                        <div class="input-group" style="margin-top: 50px;">
<!--                            <input type="text" placeholder="电话" name="telphone" class="form-control subscribe-text">-->
                            <a target="_blank" href="{:U('Public/merchants')}" class="subscribe-btn btn-default" type="button">点击报名!</a>
                        </div><!-- /input-group -->

                    </div> <!-- 8 Column Grid-->
                </div><!-- End 12 Column Grid-->
            </div> <!-- End Container-->
            <div style="clear: both;"></div>
        </section>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="__JS_PATH__/public_client/js/jquery-2.0.3.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="__JS_PATH__/public_client/js/appshowcase_3.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/dist/wow.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/jquery.magnific-popup.js"></script>

        <script type="text/javascript" src="__JS_PATH__/public_client/js/SmoothScroll.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/toucheffects.js"></script>
        <script type="text/javascript" src="__JS_PATH__/public_client/js/plugins.js"></script>
        <script type="text/javascript">
            $(function() {

                //$('#client-submit-btn').die().live('click', function() {
                $('#client-submit-btn').click(function() {
                    var $from = $(this).parents('form#client-submit-form');
                    var href = $from.attr('action');
                    var data = $from.serialize();
                    $.post(href, data, function(res) {
                        alert(res.error);
                        return false;
                    }, 'json');
                    return false;
                });
            });
        </script>
    </body>
</html>