<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{$keywords}" /> 
        <meta name="description" content="{$description}" /> 
        <title>{$title}</title>
        <link rel="icon" href="/favicon.ico" size="16x16" />
        <link type="text/css" rel="stylesheet" href="__CSS_PATH__/merchants.css" />
        <script type="text/javascript" src="__JS_PATH__/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="__JS_PATH__/jquery.superslide.2.1.1.js"></script>
        
    </head>
    <body>
        <div class="box">
            <!-- content1开始 -->
            <div class="content1">
                <div class="logo">                  
                        <div class="m-nav f-ib">
                            <ul>
                                <li class="logoli1 logoli"><a href="#">招商热线：4000-333-178</a></li>
                                <li class="logoli5 logoli"><a href="__APP__/Public/login">登录</a></li>
                                <li class="logoli6 logoli"><a href="__APP__/Public/register">注册</a></li>
                            </ul>
                            <span class="corner corner-l"></span><span class="corner corner-r"></span>
                       </div>
                    </div>
                </div>
            <!-- content1结束 -->

            <!-- content2开始 -->
            <div class="content2">
                <div class="ct2-div1"></div>

                <div class="ct2-div2"></div>

                <div class="ct2-div3 f-cb"></div>

                <div class="ct2-div4 f-cb"></div>

                <div class="ct2-div5">
                    <img src="__IMAGE_PATH__/merchants/shop-3.png" />
                </div>

            </div>
            <!-- content2结束 -->

            <!-- content3开始 -->
            <div class="content3">
                <div class="content3-1">
                    <div class="content3-img">
                        <img src="__IMAGE_PATH__/merchants/shop-4.png" />
                    </div>

                    <div class="top_look f-ff1">
                        <a href="#"  class="u-btn u-btn-c2 f-fs2">点击查看更多</a>
                    </div>
                </div>
            </div>
            <!-- content3结束 -->

            <!-- content4开始 -->
            <div class="content4" id="jianjie">
                <div class="content4-1">
                    <img src="__IMAGE_PATH__/merchants/shop6.png"/>
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content5开始 -->
            <div class="content5">
                <div class="content-1">
                    <div class="content5-img1">
                        <img src="__IMAGE_PATH__/merchants/shop-7.png" />
                    </div>
                    <div class="content5-img2">
                        <img src="__IMAGE_PATH__/merchants/shop-8.png" />
                    </div>
                </div>
            </div>
            <!-- content5结束 -->

            <!-- content4开始 -->
            <div class="content4 ">
                <div class="content4-1 c4-1">
                    <img src="__IMAGE_PATH__/merchants/shop9.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content6开始 -->
            <div class="content6">
                <div class="content6-1">
                    <div class="content6-img1">
                        <img src="__IMAGE_PATH__/merchants/shop-10.png" />
                    </div>
                    <div class="content6-img2">
                        <img src="__IMAGE_PATH__/merchants/shop-11.png" />
                    </div>
                </div>
            </div>
            <!-- content6结束 -->

            <!-- content4开始 -->
            <div class="content4 ">
                <div class="content4-1 c4-1">
                    <img src="__IMAGE_PATH__/merchants/shop-12.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content7开始 -->
            <div class="content7">
                <div class="content7-1 f-cb">
                    <div class="content7-img1">
                        <embed src="http://player.youku.com/player.php/sid/XODkwMjgwNTUy/v.swf" allowfullscreen="true" quality="high" width="784" height="479" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
                    </div>
                    <div class="content7-img1">
                        <img src="__IMAGE_PATH__/merchants/shop14.png" />
                    </div>
                </div>
            </div>
            <!-- content7结束 -->

            <!-- content4开始 -->
            <div class="content4 c42" id="moshi">
                <div class="content4-1 c4-1">
                    <img src="__IMAGE_PATH__/merchants/shop-15.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content8开始 -->
            <div class="content8">
                <div class="content8-1">
                    <img src="__IMAGE_PATH__/merchants/shop-16.png" />
                </div>
            </div>
            <!-- content8结束 -->

            <!-- content4开始 -->
            <div class="content4" id="yingli">
                <div class="content4-1 c4-3">
                    <img src="__IMAGE_PATH__/merchants/shop-17.png" />
                </div>
            </div>
            <!-- content4结束-->

            <!-- content7开始 -->
            <div class="content7">
                <div class="content7-1 f-cb">
                    <div class="content7-img1 c7img">
                        <img src="__IMAGE_PATH__/merchants/shop-18.png" />
                    </div>
                    <div class="content7-img2">
                        <img src="__IMAGE_PATH__/merchants/shop-19.png" />
                    </div>
                </div>
            </div>
            <!-- content7结束 -->

            <!-- content4开始-->
            <div class="content4 c44">
                <div class="content4-1 c4-3">
                    <img src="__IMAGE_PATH__/merchants/shop-20.png" />
                </div>
            </div>
            <!-- content4结束-->

            <!-- content9开始-->
            <div class="content9">
                <div class="content9-1">
                    <img src="__IMAGE_PATH__/merchants/shop-21.png" />
                </div>
            </div>
            <!-- content9结束-->

            <!-- content4开始-->
            <div class="content4" id="zhanshi">
                <div class="content4-1 c4-2">
                    <img src="__IMAGE_PATH__/merchants/shop-22.png" />
                </div>
            </div>
            <!-- content4结束-->

            <!-- content10开始-->
            <div class="content10">
                <div class="content10-1">
                    <div class="img1 img-1">
                        <img src="__IMAGE_PATH__/merchants/1.png"/>
                    </div>
                    <div class="img2 img-1">
                        <img src="__IMAGE_PATH__/merchants/2.png"/>
                    </div>
                    <div class="img3 img-1">
                        <img src="__IMAGE_PATH__/merchants/3.png"/>
                    </div>
                    <div class="img4 img-1">
                        <img src="__IMAGE_PATH__/merchants/4.png"/>
                    </div>
                    <div class="img5">
                        <img src="__IMAGE_PATH__/merchants/5.png"/>
                    </div>
                    <div class="img6 img-1">
                        <img src="__IMAGE_PATH__/merchants/6.png"/>
                    </div>
                    <div class="img7">
                        <img src="__IMAGE_PATH__/merchants/7.png"/>
                    </div>
                    <div class="img8 img-1">
                        <img src="__IMAGE_PATH__/merchants/8.png"/>
                    </div>
                    <div class="img9">
                        <img src="__IMAGE_PATH__/merchants/9.png"/>
                    </div>
                    <div class="img10">
                        <img src="__IMAGE_PATH__/merchants/10.png"/>
                    </div>
                    <div class="img11">
                        <img src="__IMAGE_PATH__/merchants/11.png"/>
                    </div>
                    <div class="img12">
                        <img src="__IMAGE_PATH__/merchants/12.png"/>
                    </div>
                </div>
            </div>
            <!-- content10结束 -->

            <!-- content4开始-->
            <div class="content4" id="tiaojie">
                <div class="content4-1 c4-1 c45">
                    <img src="__IMAGE_PATH__/merchants/shop-24.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content4开始-->
            <div class="content4 ctp">
                <div class="content4-1 c4-3">
                    <img src="__IMAGE_PATH__/merchants/shop-25.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content7开始-->
            <div class="content7 c7">
                <div class="content7-1 f-cb">
                    <div class="content7-img1">
                        <img src="__IMAGE_PATH__/merchants/shop-26.png" />
                    </div>
                    <div class="content7-img2 c7img2">
                        <img src="__IMAGE_PATH__/merchants/shop-27.png" />
                    </div>
                </div>
            </div>
            <!-- content7结束 -->

            <!-- content4开始-->
            <div class="content4 c42">
                <div class="content4-1 c4-4">
                    <img src="__IMAGE_PATH__/merchants/shop-28.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content11开始-->
            <div class="content11">
                <div class="content11-1">
                    <img src="__IMAGE_PATH__/merchants/shop-29.png" />
                </div>
            </div>
            <!-- content11结束 -->

            <!-- content4开始-->
            <div class="content4" id="liucheng">
                <div class="content4-1 c45">
                    <img src="__IMAGE_PATH__/merchants/shop-30.png" />
                </div>
            </div>
            <!-- content4结束 -->

            <!-- content12开始-->
            <div class="content12">
                <div class="content12-1">
                    <div class="content12-img1">
                        <img src="__IMAGE_PATH__/merchants/shop-31.png" />
                    </div>
                    <div class="content12-img2">
                        <img src="__IMAGE_PATH__/merchants/shop-32.png" />
                    </div>
                </div>
            </div>
            <!-- content12结束 -->

           <!-- 分站语录开始开始 -->
			<div class="content4 f-tac" id="fzyl">

				<h3 class="f-ib">分站语录</h3>

				<p class="first">
					一点沟通，一点了解
				</p>

				<p>
					让我们从青团网开始
				</p>

			</div>

			<div class="content13">

				<div class="slideTxtBox">

					<div class="hd f-pr">

						<ul>

							<li>
								<div class="item3 f-pr">
									<img src="__IMAGE_PATH__/001_03.jpg" style="width:200px;height:300px;" alt="彬县站于洋">

									<div class="triangle-bottomright abimg1"></div>

									<p class="abp">
										彬县
									</p>

									<h1 class="abh1">于 洋</h1>
								</div>

							</li>

							<li>
								<div class="item3 f-pr">
									<img src="__IMAGE_PATH__/001_05.png" alt="伊宁分站王炼">

									<div class="triangle-bottomright abimg1"></div>

									<p class="abp">
										伊宁分站
									</p>

									<h1 class="abh1">王　炼</h1>

								</div>

							</li>

							<li>
								<div class="item3 f-pr">
									<img src="__IMAGE_PATH__/001_07.png" alt="哈密分站王新伟">

									<div class="triangle-bottomright abimg1"></div>

									<p class="abp">
										哈密分站
									</p>

									<h1 class="abh1">王新伟</h1>
								</div>

							</li>

							<li>
								<div class="item3 f-pr">
									<img src="__IMAGE_PATH__/001_09.png" alt="奎屯分站刘蛋蛋">

									<div class="triangle-bottomright abimg1"></div>

									<p class="abp">
										奎屯分站
									</p>

									<h1 class="abh1">刘旦旦</h1>
								</div>

							</li>
						</ul>
					</div>

					<div class="bd f-ff1 f-taj">
						<ul>
							<li>
								<p class="f-ti2">将青团带到彬县的小姑娘</p>
<p class="f-ti2">伴随着“今天你团了吗？”打招呼方式的风靡，团购也逐渐走进群众的日常生活。青团网是总部位于陕西杨凌，专注于西北地区的团购app。在青团上，彬县赫然荣登团购热门城市榜，而将青团带到彬县的却是一位年仅21岁的90后小姑娘。</p>
<p class="f-ti2">于洋，1994年生，2012年高中毕业后出门闯荡，“我当时就想，外头物价这么贵，要是有团购该多好，回来之后，发现县上的消费很高，就有了自己做团购的想法。刚开始也没想能挣多少钱，就是当个事业先试试，希望团购这种形式能够得到更多人的接受和认可。”</p>
<p class="f-ti2">2014年12月15日，于洋加盟总部位于杨凌的青团网，不到半年时间，全县商家发展了两百余家，每月销售业绩从流水金额一千余元达到现在的二十余万元，盈利也由每月开始的一百涨到现在三千多。</p>
<p class="f-ti2">于洋说：“青团是以团购作为平台，由经营人协调商家，使其放低价格，从而薄利多销，青团网上的价格先是由商家订，然后我去压价，交易成功后我再从中提成，当然，价格压的越低，我提的就越少，所以，只有用的人越多，我才会有收益。”</p>
<p class="f-ti2">创业的过程是艰辛的，近八个月来，于洋还保持着“单打独斗”的状态，她说：“忙的时候朋友会来帮忙，但是却没有人真正愿意来和我一起干，毕竟这并不是一份有单位有办公室的稳定工作。我一开始出去跑单子时，真的特别不好意思，勉强自己尝试着去和陌生人交流，后来脸皮慢慢练出来了，可还是会时常沮丧，觉得许多人还是比较保守，不太愿意去尝试新鲜事物，商家里的人要么觉得我是骗子，要么担心软件是有病毒的广告。有时介绍半天，只换来商家冷冷的一句‘我们不需要。’遇到这种情况，没有别的办法，就只能软磨硬泡，后来渐渐好了很多。万事开头难，过了最初阶段，青团的认可度不断上升，店家也越来越好说服，毕竟使用软件是免费的，愿意尝试的商家也多起来了。有一段时间，我白天出门跑单子，联系商家，和他们协商制定套餐，晚上回来就要赶紧作图，交审核，赶一周内就得上线，熬夜到凌晨五点也是常有的事情。”</p>
<p class="f-ti2">于洋说：“业绩不会忽然攀升，但一直持续地增长，当然也有业绩高点，比如今年的二月份和七八月份，我觉得一方面是因为二月份（过年）聚会频繁，花钱的地方多，人自然就会想办法省钱，用到团购的机会就会增多。另一方面是因为在外的年轻人（学生）多数回家，他们接受团购的能力高，团购自然多。但是过了这两个时节，流水金额就会有所回落。”</p>
<p class="f-ti2">目前，于洋作为彬县唯一的青团网加盟人，她的团购事业也逐渐壮大，目前加盟青团的200多家商家涵盖了餐饮、娱乐、生活服务等多个方面。可是，“光杆司令”的于老板还是渴望能够有人同她一起协作，共同做好青团。</p>


							</li>
						</ul>

						<ul>
							<li>
								<p class="f-ti2">
									代理青团网已经半年之久，从刚开始什么也不懂到现有了一个很大的提升，从传统行业到电子商务的跨越，让我学到了不少新知识。我理解了团购（O2O）的魅力，也让我学到了更多做人的道理，为人处世等等！非常感谢杨凌罗文网络科技有限公司能给到我这样一个学习的平台。
								</p>

								<p class="f-ti2">
									眼下，移动互联网呈大热之势，总部显然没有放弃团购市场。因为传统的分类信息报纸上，商家做广告，再加之传单类报纸发放渠道不好，几乎达不到多少效果，所以越来越多商家顺其自然的认为团购是最好的营销渠道。我认识到同时也感受到一点，我以前也是做线下媒体报纸的。有幸我在网上查询，找到青团这个项目。我刚加盟的时候还将信将疑，现在想来彻底不后悔了，彻底干到底。
								</p>

								<p class="f-ti2">
									想当初，我刚加盟青团时，青团手机客户端（安卓、ios）同时发布第一版，用户体验很不完善，但是随着我们分站做起，给总部不断反馈市场需求，总部技术部抓紧时间完善和升级新版本。如今苹果和安卓的最新版本已经很正常运行，这个对我们分站是最大的鼓励！因为我有代理后台，发现每天入账金额90%都来自移动端。
								</p>

								<p class="f-ti2">
									我做伊宁分站这半年期间，注册用户从几个人到几十个人到现在上万人，网购订单数自然也涨起来，每次一个新的突破，我就和团队庆祝一下。我一直和总部保持沟通，汲取经验，各项成本控制的很到位，顺其自然也早早盈利了。总部技术跟上了，我的信心更是增加了。我的目标就是不断扩大伊宁市场，利用我本地人优势再不断的深入做市场。我心中还有更加宏伟的蓝图。正如公司文化：顾客之后还是顾客，服务的开始才是消费的开始。
								</p>

								<p class="f-ti2">
									总之，刚跨入这个行业的时候也遇到了很多问题，伴随着问题的解决，我也在不断提升和成长，也在不断总结自己所遇到的问题，慢慢完善！我相信，全国青团分站在总部的带领下会越做越好。坚持自己的梦更接近现实，坚持也是一种执行力，与所有正在创业路上的朋友共勉。
								</p>
							</li>
						</ul>

						<ul>
							<li class="f-fs2 f-cb">
								<div class="item2 f-fl">
									<p>
										2013年6月在得知青团允许加盟后，哈密代理考察了哈密的市场，市场空白，消费高，   近几年年轻人回城发展的增多，餐饮娱乐行业发展迅速，决定加入青团这个大家庭。现将这一年以来的发展，总结如下，希望大家能多提意见，一起学习。
									</p>

									<p class="f-ti2">
										首先，是多谈商家，积累几个优质商家后再行宣传。针对谈商家的注意点，就是折扣和提点。折扣当然是越低越好，如果商家觉得折扣低担心销量太大影响营业额的话，可以考虑先限量销售，之后再做调整；提点，哈密站在做的时候因为是空白市场，刚开始提10个点，无上线费，对商家来说属于“零成本”上线，现在哈密站因为别的网站的参与，提点也有所下调。关于提点的心得是，一旦降下去，很难提上来，所以降提点需谨慎。在商家提出降提点的时候，代理可以将团购网站的宣传效果和传统媒体相比较，让商家明白，网站可以做到与传统媒体同样的甚至更好的宣传效果，但商家需要的付费却很低。
									</p>

									<p class="f-ti2">
										商家维护也是不可缺少的，做好跟进服务是最基础的，可以为商家策划一下线上线下的活动。
									</p>

									<p class="f-ti2">
										其次是市场推广，针对哈密市没有高校，年轻人群难于聚集的特点，哈密站做过的推广活动包括传单发放、硬广告投放、线下活动、平台建设和维护等。
									</p>

									<p class="f-ti2">
										1、传单发放，初期制作了1w张传单，发放达5k张。宣传效果一般。
									</p>

									<p class="f-ti2">
										2、硬广告投放，主要包括移动广告车，电影院广告位，市中心led屏。
									</p>
								</div>

								<div class="item2 f-fr">
									<p class="f-ti2">
										3、移动广告车的投放，每天八小时移动，带ppt播放，音频资料宣传，针对哈密市场年轻人分散效果较为理想。
									</p>

									<p class="f-ti2">
										4、电影院广告位，电影院是哈密年轻人较为聚集的地方，所以哈密站选择在电影院投放广告。分别是入口处的小广告灯箱和电梯旁的大广告灯箱。
									</p>

									<p class="f-ti2">
										5、线下活动主要包括电影院注册有奖活动和3D画展活动。此类活动可以有效增加网站用户数，主要是针对哈密空白市场，大多数人不会用团购网站，可以现场教消费者操作。
									</p>

									<p class="f-ti2">
										6、平台的建立和维护，哈密站到现在为止建立了两个微博号-哈密青团网和舌尖上的哈密；微信公众平台-订阅号哈密青团网。平台的建立和维护，是各个推广方式中成本最低的，且最长效，但是需要活动来吸引粉丝和时间来累计粉丝。哈密站的合作商家对微信公众平台很是感兴趣，通过微信公众平台做的活动，宣传力度往往超过传统媒体。
									</p>

									<p>
										微信公众平台活动
									</p>

									<p>
										以上是总结哈密青团网一年以来的各种活动，我们还有很多地方没有做好，欢迎大家多提意见。联系人QQ：285716125
									</p>
								</div>
							</li>
						</ul>

						<ul>
							<li  class="f-fs2 f-cb">
								<div class="item2 f-fl">
									<p>
										2014年03月01日，青团网入驻新疆奎屯市，奎
									</p>

									<p>
										城市，经济收入及消费水品总体不高！
									</p>

									<p>
										刚开始我们分析这样一个农业化城市，经济收入和消费水品不是很高的小城市，团购可以做起吗？经过我们8个月的拼搏、奋进，凭着我们的吃苦耐劳，对创业的执着，我们一步一个脚印，按照总部总体规划、分站具体实施、团队整体策划、个人勤奋思索步骤，打开了奎屯团购的新市场，并将几个月的收获与浅薄的经验与大家分享：
									</p>

									<p>
										一、没有发展不开的市场，只有不够勤劳的团队
									</p>

									<p>
										我们是内地去新疆发展市场，对城市人文环境、消费水品、餐饮娱乐市场等一概不知，我们就通过串街的方式，首先：对这个城市的餐饮、娱乐、KTV、电影院、酒店等适合最团购的商家进行了初步摸底、考察，并对个别的大商家进行了了解。再次：通过了解之后，我们对一些懂团购，有意向的商家进行全面的业务洽谈，多次与商家沟通，一次、两次、三次………直到商家同意为止，有了一部分的大商家做支撑以后（特别是自助餐、电影院、KTV等），然后对一些中型商家进行洽谈，最后：全面撒网，重点跟进，对城市的餐饮，娱乐，酒店，美容美发等，全面的开始浅谈，对浅谈过程中有意向，懂团购的商家进行实时跟进，三番五次的去商家，给他们灌输团购的优势，直至成功！
									</p>

									<p>
										二：网络多元化，宣传是关键
									</p>
									
									<p>
										好商家，好产品，如果进入网站，我们没有及时的把网站推销出去，就等于是零。我们刚
									</p>
								</div>

								<div class="item2 f-fr">
									<p>
										开始就利用微信订阅吸收粉丝，做海报，宣传单，做门贴，桌贴等 ，在与商家合作后，吧台，门面，楼道，地梯等多种显眼的放置都能看到我们青团网的宣传资料，让跟多的人知道我们的网站，现在微信粉丝5000多人！并引导更多人的转发分享我们微信公众发出的信息！在平时出门、吃饭、娱乐、坐车等，时刻与别人沟通，问问是不了解团购，了解青团网，也是一个直接宣传！同时和商家前台打好关系，除了合作以外，也和他们做真诚的朋友，让吧台给消费直接宣传团购，青团网！
									</p>

									<p>
										三：团队需精湛，策划要跟上
									</p>

									<p>
										我们奎屯市两个人负责，我们每天都会利用晚上睡觉前的时间，对商家进行分析，对产品进行优化，挑选出个别好的商家或者优质的产品，在某个特定的日期做一些优惠力度比较大，影响力较高的活动来充实网站的知名度，也可以充分利用微信公众号的平台，在大型节日做线上活动（如：10月1日，我们联商了10家左右商家，每个商家给出特定的产品，通过我们的微信公众平台进行抽奖活动，免费赠送，同时商家也会为你宣传，达到了免费赠送，商家为你宣传的双重目的）
									</p>

									<p>
										以上是我们在奎屯几个月时间简单对团购发展的认识以及浅薄的经验，希望能帮到等多的代理发展好市场！
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<script type="text/javascript">
                    jQuery(".slideTxtBox").slide();
				</script>
			</div>

			<!-- 分站语录开始结束 -->

			<!-- 修改加盟申请开始  2014-11-17 oldfu-->
			<div class="content4 f-tac" id="shenqing">
				<h3 class="f-ib">加盟申请</h3>

				<p class="first">
					如果您对该项目感兴趣，并希望得到详细资料，请填写留言。
				</p>

				<p>
					我们会主动和您通过电话取得联系
				</p>

				<p>
					本公司承诺会对您提交的资料严格保密。
				</p>
			</div>

			<!-- content13开始-->
			<div class="content13">

				<div class="m-form">

					<div class="g-bd1 f-cb">
						<div class="g-sd1">
							<div class="txtMarquee-top">
								<div class="bd">
									<ul class="infoList">
										<li>
											<a href="http://hami.youngt.com" target="_blank">哈密站青团网加盟</a>
										</li>

										<li>
											<a href="http://bole.youngt.com" target="_blank">博乐站青团网加盟</a>
										</li>

										<li>
											<a href="http://huxian.youngt.com" target="_blank">户县站青团网加盟</a>
										</li>

										<li>
											<a href="http://yining.youngt.com" target="_blank">伊宁站青团网加盟</a>
										</li>

										<li>
											<a href="http://yangling.youngt.com" target="_blank">杨凌站青团网加盟</a>
										</li>

										<li>
											<a href="http://kuerle.youngt.com" target="_blank">库尔勒站青团网加盟</a>
										</li>

										<li>
											<a href="http://wulumuqi.youngt.com" target="_blank">乌鲁木齐站青团网加盟</a>
										</li>

										<li>
											<a href="http://kuitun.youngt.com" target="_blank">奎屯站青团网加盟</a>
										</li>

										<li>
											<a href="http://xingping.youngt.com" target="_blank">兴平站青团网加盟</a>
										</li>

										<li>
											<a href="http://wuwei.youngt.com" target="_blank">武威站青团网加盟</a>
										</li>

										<li>
											<a href="http://kelamayi.youngt.com" target="_blank">克拉玛依站青团网加盟</a>
										</li>

										<li>
											<a href="http://akesu.youngt.com" target="_blank">阿克苏站青团网加盟</a>
										</li>

										<li>
											<a href="http://geermu.youngt.com" target="_blank">格尔木站青团网加盟</a>
										</li>

										<li>
											<a href="http://jiayuguan.youngt.com" target="_blank">嘉峪关站青团网加盟</a>
										</li>
										
										<li>
											<a href="http://lingbao.hami.youngt.com" target="_blank">灵宝站青团网加盟</a>
										</li>

									</ul>
								</div>
							</div>

							<script type="text/javascript">
                                jQuery(".txtMarquee-top").slide({
                                    mainCell : ".bd ul",
                                    autoPlay : true,
                                    effect : "topMarquee",
                                    vis : 11,
                                    interTime : 50
                                });
							</script>

						</div>

						<div class="g-mn1">
							<div class="g-mn1c">
								<form name="" action="#" id="merchants" >
									<fieldset>

										<div class="formitm">
											<label class="lab">姓名：</label>
											<div class="ipt">
												<input type="text" class="u-ipt" name="title"/>
												<span>*您的真实姓名(中文)</span>
											</div>
										</div>

										<div class="formitm f-cb">
											<label class="lab">电话：</label>
											<div class="ipt">
												<input type="text" class="u-ipt" name="contact"/>
												<span>*为了方便联系您，请填写手机或电话</span>
											</div>
										</div>

										<div class="formitm f-cb">
											<label class="lab">QQ：</label>
											<div class="ipt">
												<input type="text" class="u-ipt" name="qq"/>
												<span>*为了更快捷联系您，请填写QQ</span>
											</div>
										</div>

										<div class="formitm f-cb">
											<label class="lab">所在城市：</label>
											<div class="ipt">
												<select id="s_province" name="province" class="u-ipts"></select>
												<select id="s_city" name="city"  class="u-ipts"></select>
												<select id="s_county" name="county" class="u-ipts"></select>
												<script class="resources library" src="http://sandbox.runjs.cn/uploads/rs/267/g3ugugjp/area.js" type="text/javascript"></script>
												<script type="text/javascript">
                                                    _init_area();
												</script>
												<span>*请填写您的所在地址</span>
											</div>
										</div>

										<div class="formitm f-cb f-pr" style="width:100%">
											<label class="lab lab1">留言：</label>
											<div class="ipt f-fl">
												<textarea cols="47" rows="9" name="content" class="u-ipt2"/>
												</textarea>
											</div>

											<div class="ipt2 f-fl f-tal item1">
												<span>*选择快捷留言:</span>
												<a id="content1" class="f-db f-fwb" onclick="addContent('#content1')">现在想加入贵公司，请给我预留名额。</a>
												<a id="content2" class="f-db f-fwb " onclick="addContent('#content2')">请贵公司给我打电话并招商资料。</a>
												<a id="content3" class="f-db f-fwb" onclick="addContent('#content3')">想了解下合作政策，请打电话给我。</a>
												<a id="content4" class="f-db f-fwb" onclick="addContent('#content4')">我对这个项目很感兴趣，请给我寄资料。</a>
											</div>
										</div>

										<div class="formitm">
											<label class="lab">验证码：</label>
											<div class="ipt">
												<input type="text" class="u-iptv" name="verify" required/>
												<img src="__APP__/Public/Verify/" class="verifyImg" style="width:88px; height:41px;" >
												<a style="margin-left:13px; " class="f-ib verifyImg">看不清楚？换一张</a>
											</div>
										</div>

										<input type="hidden" name="category" value="zhaoshang" />
									</fieldset>
								</form>

								<div class="formitm formitm-1">
									<button class="u-btn" type="button">
										提交申请
									</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- 加盟申请结束 -->

            <!-- content14开始-->
            <div class="content14" id="lianxi">
                <div class="content14-1">
                    <div class="content14-img1">
                        <img src="__IMAGE_PATH__/merchants/shop-34.png" />
                    </div>
                    <div class="content14-img2">
                        <img src="__IMAGE_PATH__/merchants/shop-35.png" />
                    </div>
                </div>
            </div>
            <!-- content14结束 -->

            <!-- content15开始-->
            <div class="content15">
                <div class="m-nav m-nav-1">

                   <ul style="margin-left: 160px;">
						<li>
							<a href="#jianjie">公司简介</a>
						</li>
						<li>
							<a href="#moshi">商业模式</a>
						</li>
						<li>
							<a href="#yingli">盈利模式</a>
						</li>
						<li>
							<a href="#zhanshi">公司展示</a>
						</li>
						
						<li>
							<a href="#tiaojie">加盟条件</a>
						</li>
						
						<li>
							<a href="#liucheng">加盟流程</a>
						</li>
						
						<li>
							<a href="#fzyl">分站语录</a>
						</li>
						
						<li>
							<a href="#shenqing">加盟申请</a>
						</li>
						<li>
							<a href="#lianxi">联系我们</a>
						</li>
					</ul>
                    <span class="corner corner-l"></span><span class="corner corner-r"></span>
                </div>

                 <p class="f-fwb">@2015青团网（Youngt.com）<a href="http://www.miibeian.gov.cn" style="color:#ffffff">陕ICP备12003782号-2 </a></p>
                   <p style="display:none;"><script type="text/javascript">
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff2d579f387dd96ab5323e53541bf17ee' type='text/javascript'%3E%3C/script%3E"));
                        </script></p>

            </div>
            <!-- content15结束 -->

            <div id="bottom">
                <a id="gotop" href="javascript:void(0)"></a>
            </div>

            <div class="fixie">
               <ul class="fixul">
					<li class="f-ff1 f-fwb">
						<a href="#jianjie" name="jiejian"> <img src="__IMAGE_PATH__/merchants/shop-37.png" /> <span>公司简介</span> </a>
					</li>
					<li class="f-ff1 f-fwb">
						<a href="#moshi" name="shimo"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>商业模式</span> </a>
					</li>
					<li class="f-ff1 f-fwb">
						<a href="#yingli" name="liying"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>盈利模式</span> </a>
					</li>
					<li class="f-ff1 f-fwb">
						<a href="#zhanshi" name="shizhan"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>公司展示</span> </a>
					</li>
					<li class="f-ff1 f-fwb">
						<a href="#tiaojie" name="jieshao"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>加盟条件</span> </a>
					</li>
					<li class="f-ff1 f-fwb">
						<a href="#liucheng" name="chengliu"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>加盟流程</span> </a>
					</li>
					
					<li class="f-ff1 f-fwb">
						<a href="#fzyl" name="fzyl"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>分站语录</span> </a>
					</li>
					
					<li class="f-ff1 f-fwb">
						<a href="#shenqing" name="qingshen"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>加盟申请</span> </a>
					</li>
					
					<li class="f-ff1 f-fwb">
						<a href="#lianxi" name="xianli"> <img src="__IMAGE_PATH__/merchants/shop-38.png" /> <span>联系我们</span> </a>
					</li>
				</ul>
            </div>

            
        </div>

    </body>

    <!--返回顶部  -->
    <script type="text/javascript">
    function addContent(obj){
    	var val=$(obj).html();
    	$('textarea').val(val);
    }	
    $(function(){
         $('button[type=button]').click(function(){
         	var qq=$("input[name='qq']").val();
         	if(qq==''){
         		alert('请输入您的QQ账号');
         		return false;
         	}	
             $.post("__APP__/Public/doFeedBack",$('#merchants').serialize(),function(data){
                    alert(data.error);
            },'json');
            return false; 
        });
         $(".verifyImg").click(function(){
                var time = new Date().getTime(); 
                $(this).parent().find('img').attr('src',  '__APP__/Public/verify/'+time);
            });
    })
    </script>
    <script>
        function b() {
            h = $(window).height();
            t = $(document).scrollTop();
            if (t > h) {
                $('#gotop').show();
            } else {
                $('#gotop').hide();
            }
        }


        $(document).ready(function(e) {
            b();
            $('#gotop').click(function() {
                $(document).scrollTop(0);
            })
        });

        $(window).scroll(function(e) {
            b();
        })
    </script>

</html>

