<!DOCTYPE html>
<html>  
<head>

    <meta charset="utf-8">
    <title>
      ilonge
    </title>
    <!--<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />-->
	<link href="__CSS_PATH__/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/isotope.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/wizard.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/select2.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/morris.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/datatables.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/datepicker.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/timepicker.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/colorpicker.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/daterange-picker.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/typeahead.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/summernote.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/pygments.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="__CSS_PATH__/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
	<link href="__CSS_PATH__/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
	<link href="__CSS_PATH__/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
  <link href="__CSS_PATH__/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
	<script src="__JS_PATH__/jquery.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery-ui.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/raphael.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/selectivizr-min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.mousewheel.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.vmap.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.vmap.sampledata.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.vmap.world.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.bootstrap.wizard.js" type="text/javascript"></script>
	<script src="__JS_PATH__/fullcalendar.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/gcal.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/datatable-editable.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.easy-pie-chart.js" type="text/javascript"></script>
	<script src="__JS_PATH__/excanvas.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/isotope_extras.js" type="text/javascript"></script>
	<script src="__JS_PATH__/modernizr.custom.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="__JS_PATH__/select2.js" type="text/javascript"></script>
	<script src="__JS_PATH__/styleswitcher.js" type="text/javascript"></script>
	<script src="__JS_PATH__/wysiwyg.js" type="text/javascript"></script>
	<script src="__JS_PATH__/summernote.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.inputmask.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.validate.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap-fileupload.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap-datepicker.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap-timepicker.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap-colorpicker.js" type="text/javascript"></script>
	<script src="__JS_PATH__/bootstrap-switch.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/typeahead.js" type="text/javascript"></script>
	<script src="__JS_PATH__/daterange-picker.js" type="text/javascript"></script>
	<script src="__JS_PATH__/date.js" type="text/javascript"></script>
	<script src="__JS_PATH__/morris.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/skycons.js" type="text/javascript"></script>
	<script src="__JS_PATH__/fitvids.js" type="text/javascript"></script>
	<script src="__JS_PATH__/jquery.sparkline.min.js" type="text/javascript"></script>
	<script src="__JS_PATH__/main.js" type="text/javascript"></script>
	<script src="__JS_PATH__/respond.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>

  <body>
    <div class="modal-shiftfix">
    
    <!-- 这是头部 -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown notifications hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-flag"></span>
                  <div class="sr-only">
                    Notifications
                  </div>
                  <p class="counter">
                    4
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New user added: Jane Smith
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      Sales targets available
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New performance metric added
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      New
                    </div>
                    <p>
                      New growth data available
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li class="dropdown messages hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-envelope"></span>
                  <div class="sr-only">
                    Messages
                  </div>
                  <p class="counter">
                    3
                  </p>
                </a>
                <ul class="dropdown-menu messages">
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-male2.png" />Could we meet today? I wanted...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-female.png" />Important data needs your analysis...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-male2.png" />Buy Se7en today, it's a great theme...</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown settings hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-gear"></span>
                  <div class="sr-only">
                    Settings
                  </div>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>Blue</a>
                  </li>
                  <li>
                    <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>Green</a>
                  </li>
                  <li>
                    <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>Orange</a>
                  </li>
                  <li>
                    <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>Magenta</a>
                  </li>
                  <li>
                    <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>Gray</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="images/avatar-male.jpg" />{$Think.session.username}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <i class="icon-user"></i>My Account</a>
                  </li>
                  <li><a href="#">
                    <i class="icon-gear"></i>Account Settings</a>
                  </li>
                  <li><a href="__APP__/Login/logout">
                    <i class="icon-signout"></i>Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="logo" href="index-2.html">罗文科技</a>
          <form class="navbar-form form-inline col-lg-2 hidden-xs">
            <input class="form-control" placeholder="Search" type="text">
          </form>
        </div>


      <!-- 导航 -->
        <div class="container-fluid main-nav clearfix">
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a class="current" href="index.html"><span aria-hidden="true" class="se7en-home"></span>主页</a>
              </li>
              <li><a href="{:U('CollPage/index')}">
                <span aria-hidden="true" class="se7en-feed"></span>二维码</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-star"></span>门店<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="buttons.html">Buttons</a>
                  </li>
                  <li>
                    <a href="fontawesome.html">Font Awesome Icons</a>
                  </li>
                  <li><a href="glyphicons.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Glyphicons
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="components.html">Components</a>
                  </li>
                  <li>
                    <a href="widgets.html">Widgets</a>
                  </li>
                  <li>
                    <a href="typo.html">Typography</a>
                  </li>
                  <li>
                    <a href="grid.html">Grid Layout</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-forms"></span>评价<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="evaluationPage/consumersEvaluate.html">
                      <span class="notifications label label-warning">New</span>
                      <p>
                        消费者评价
                      </p>
                    </a>                   
                  </li>
                  <li>
                    <a href="form-advanced.html">Advanced Forms</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-tables"></span>财务<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="financialPage/todayIncome.html">今日收入</a>
                  </li>
                  <li>
                    <a href="financialPage/payHistory.html">付款记录</a>
                  </li>
                </ul>
              </li>
              <li><a href="charts.html">
                <span aria-hidden="true" class="se7en-charts"></span>数据</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-gear"></span>设置<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="chat.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Chat
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="calendar.html">Calendar</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid main-content">
     
        <div class="row"> 
          <div class="col-lg-12">
            <div class="widget-container fluid-height">
              <div class="heading">
              <span class="glyphicon glyphicon-time" style="font-size:24px;"></span>
              <span class="h3">昨日数据</span>
              </div>
              <div class="panel panel-body">
              <div class="widget-container stats-container" style="padding-bottom:15px;">
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 head text-info">展示量</p>
                  </div>  
                  <div class="h3">
                    10
                  </div>
                </div>
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 text-info">订单量</p>
                  </div>  
                  <div class="h3">
                    {$order_count}
                  </div>
                </div>
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 head text-danger">金额</p>
                  </div>  
                  <div class="h3">
                    {$order_prices}
                  </div>
                </div>
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 head text-primary">评价</p>
                  </div>  
                  <div class="h3">
                    10
                  </div>
                </div>
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 head text-success">直接</p>
                  </div>  
                  <div class="h3">
                    10
                  </div>
                </div>
                <div class="col-md-2 h2">
                  <div class="text">
                    <p class="h2 head text-info">间接</p>
                  </div>  
                  <div class="h3">
                    10
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">  
            <div class="widget-container fluid-height">
              <div class="heading">
                <span class="glyphicon  glyphicon-bell" style="font-size:24px;"></span>
                <span class="h3">消息</span>
              </div>
              <div class="panel-body">
                <ul class="list">
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Dhenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nosint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                  <li>strud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur </li>
                  <li>uis aute irure dolor in repre</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>

</html>