<include file="Common:header" />
<div class="container-fluid">
    <div class="row">
        <!--订单详情页开始 -->
        <div class="container-fluid" id="content">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>项目详情</h4>

                        {$team['notice']}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>本单详情</h4>

                        {$team['summary']}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>青团实拍</h4>

                        {$team['detail']}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>商家介绍</h4>

                        <p class="f-ti2">{$team['address']}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--订单详情结束-->