<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商家位置|百度地图</title>
<script type="text/javascript" src="__JS_PATH__/jquery-1.7.2.js"></script>
<style type="text/css">
*{margin:0;padding:0;}
#wrap{width:320px; margin:0 auto;}
h2{background: #eee;padding:10px 5px;}
.box{margin-top: 15px;}
form .row{padding: 8px 0;}
form label.tit{display:inline-block;width:100px;text-align:right;}
.intext{line-height: 30px;height:30px;font-size:18px;}
.btn{padding: 3px 5px;}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('#goto').submit(function(){
			$('#msg').empty();
			if($('.intext',$(this)).val() == ''){
				$('#msg').append('<span style="color:red;">请填写您的出发地！</span>');
				return false;
			}
		});
	});
</script>
</head>
<body>
	<div>
		<h2>查询线路</h2>
	</div>
	<div id="wrap">
		<div class="box">
			<form id="goto" action="http://api.map.baidu.com/direction" target="_blank" method="get">
				<div class='row' id="msg"></div>
				<div class='row'>
					<label class="tit">目的地：</label>
					<span>{$partner['title']}</span>
				</div>
				<div class='row'>
					<label class="tit">出行方式：</label>
					<span>
						<input type="radio" name="mode" value="transit" checked="checked" /><label>公交</label>
						<input type="radio" name="mode" value="driving" /><label>驾车</label>
						<input type="radio" name="mode" value="walking" /><label>步行</label>
					</span>
				</div>
				<div class='row'>
					<label class="tit">出发地：</label>
					<span>
						<input type="text" value="" name="origin" id="intext" class="intext" />
					</span>
				</div>
				<div class='row'>
					<label class="tit"></label>
					<span>
						<input type="hidden" value="latlng:{$partner['lat']},{$partner['long']}|name:{$partner['title']}" name="destination" />
						<input type="hidden" value="{$city['name']}" name="region" />
						<input type="hidden" value="html" name="output" />
						<input type="hidden" value="青团网" name="src" />
						<input type="submit" value="查询" class="btn" />
					</span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>