<div class="m-form">
    <div class="mt10 pl20">
        <form class="form-inline" role="form" action="__APP__/__APP_NAME__/Branch" method="post">
            <div class="form-group">
                <label class="control-label" for="beginTime">验证日期开始</label>
                <input type="text" class="form-control" id="beginTime" name="start_time" value="{$st}">
            </div>

            <div class="form-group">
                <label class="control-label" for="endTime">验证日期结束</label>
                <input type="text" class="form-control" id="endTime" name="end_time" value="{$et}">
            </div>

            <button type="submit" class="btn btn-warning">
                筛选
            </button>
        </form>
    </div>
</div>