<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$city_info.name}_代理管理系统_青团生活_青团网</title>
    <link href="__PLUGINS_PATH__/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PLUGINS_PATH__/Font-Awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="__CSS_PATH__/animate.min.css" rel="stylesheet">
    <link href="__CSS_PATH__/style.min.css?v=4.0.0" rel="stylesheet">
</head>