<!DOCTYPE html>
<html>  
<head>

    <meta charset="utf-8">
    <title>
      ilonge
    </title>
    <!--<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css" />-->
  <link href="__PUBLIC_PATH__/collectionPage/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/se7en-font.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/isotope.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/fullcalendar.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/wizard.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/select2.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/morris.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/datatables.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/datepicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/timepicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/colorpicker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/daterange-picker.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/typeahead.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/summernote.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/pygments.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" />
  <link href="__PUBLIC_PATH__/collectionPage/css/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" />
  <script src="__JS_PATH__/jquery.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery-ui.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/raphael.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/selectivizr-min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="__JS_PATH__/fullcalendar.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/gcal.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/datatable-editable.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="__JS_PATH__/excanvas.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/isotope_extras.js" type="text/javascript"></script>
  <script src="__JS_PATH__/modernizr.custom.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="__JS_PATH__/select2.js" type="text/javascript"></script>
  <script src="__JS_PATH__/styleswitcher.js" type="text/javascript"></script>
  <script src="__JS_PATH__/wysiwyg.js" type="text/javascript"></script>
  <script src="__JS_PATH__/summernote.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.validate.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="__JS_PATH__/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/typeahead.js" type="text/javascript"></script>
  <script src="__JS_PATH__/daterange-picker.js" type="text/javascript"></script>
  <script src="__JS_PATH__/date.js" type="text/javascript"></script>
  <script src="__JS_PATH__/morris.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/skycons.js" type="text/javascript"></script>
  <script src="__JS_PATH__/fitvids.js" type="text/javascript"></script>
  <script src="__JS_PATH__/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="__JS_PATH__/main.js" type="text/javascript"></script>
  <script src="__JS_PATH__/respond.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  </head>

  <body style="padding-top:0px;">
    <div class="container-fluid main-content">
        <div class="row">
          <div class="col-md-12">
            <div class="widget-container">
              <div class="heading">
                <h4 class="text-success" style="border-left:4px solid green;padding-left:10px;">收款物料</h4>
              </div>
              <div class="widget-content padded"> 
                <div class="panel panel-default">
                  <div class="panel-body row">
                    <div class="text-center col-md-3 col-sm-12">
                        <img src="http://qr.topscan.com/api.php?text=http://fanli.ree9.com/Wechat/getqrcode?mid={$id}" class="img-responsive col-xs-12 col-sm-6 col-md-12">
                    </div>
                    <div class="text-justify well col-md-9">
                        <p class="lead"><span class="h4">素材用途：</span>Lorem ipsum dolor sit amet, consectetur a
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p><span class="h4">物料尺寸：</span>110mm * 145mm</p>
                        <p><span class="h4">推荐位置：</span>sfshsjkg过段时间干坏事丢捣鼓捣鼓多个刚刚获得过</p>
                        <p class="text-left"><button class="btn btn-md bg-success">下载素材</button></p> 
                        <p class="text" style="color:#777;">若无法正常下载，请通过右键单击图片，图片另存为进行保存</p>    
                    </div>
                  </div>       
                </div> 
              </div>
            </div>
          </div>

           <div class="col-md-12">
            <div class="widget-container">
              <div class="heading row" style="position:relative;margin-left:0;">
                <span class="text-success" style="border-left:4px solid green;padding-left:10px;">店员管理</span>
                <a class="btn bt-xm bg-success pull-right" href="javascript:"><i class="icon-plus">添加成员</i></a>
                <span class="h5 well pull-right hidden-xs" style="display:inline-block;font-size:0.8rem;margin-right:15px;border:1px solid #ccc;">顾客付款后店员将得到支付通知，最多添加5个成员</span>
                <span class="hidden-xs" style="height:8px;border:8px solid transparent;border-left:8px solid #ccc;position:absolute;right:128px;bottom:8px;"></span>
              </div>
              <div class="widget-content padded"> 
                <div class="panel panel-default">
                  <div class="panel-body row">
                    <div class="widget-content padded clearfix">

                      <table class="table table-bordered table-striped col-xm-12">
                        <thead>
                          <tr>
                            <th>
                              店员姓名
                            </th>
                            <th>
                              手机号
                            </th>
                            <th>
                              状态
                            </th>
                            <th>
                              操作
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Robert
                            </td>
                            <td>
                              隆哥很苦逼
                            </td>
                            <td>
                              在线
                            </td>
                            <td>
                              已添加
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Robert
                            </td>
                            <td>
                              隆哥很苦逼
                            </td>
                            <td>
                              在线
                            </td>
                            <td>
                              已添加
                            </td>
                          </tr>
                          <tr>
                            <td>
                              盼盼
                            </td>
                            <td>
                              盼盼是个PHP
                            </td>
                            <td>
                              在线
                            </td>
                            <td>
                              已添加
                            </td>
                          </tr>
                          <tr>
                            <td colspan="5" class="text-center">暂无店员，<span class="text-primary">添加店员</span></td>
                          </tr>
                        </tbody>
                      </table>
             
                  </div>       
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>