/*Red for Theme  doubule 11*/
.banner{background: #dc4238;}
/*mode*/
.mode-title{background: #F6685F;color:#fff;font-weight: bold;}
body{background: #EEEED6;}
header{background: #fff;}
#nav .nav-tit{background:  #dc4238;color:#fff;}

/*Red for Theme doubule 12*/

.banner{background: #c5331c;}
/*mode*/
	.mode-title{background: #dc4238;color:#fff;font-weight: bold;}
body{background: #EEEED6;}
header{background: #fff;}
#nav .nav-tit{background:  #dc4238;color:#fff;}


