/*red for theme*/

.banner{background: #0D6205;}
/*mode*/
	.mode-title{background: #dc4238;color:#fff;font-weight: bold;}
body{background: #EEEED6;}
header{background: #fff;}
#nav .nav-tit{background:  #dc4238;color:#fff;}
