/*Red for Theme*/

.banner{background: #dc4238;}
/*mode*/
	.mode-title{background: #F6685F;color:#fff;font-weight: bold;}
body{background: #EEEED6;}
header{background: #fff;}
#nav .nav-tit{background:  #dc4238;color:#fff;}
