<div class="m-form mt20">
    <div class="row">
        <div class="col-xs-12" style="padding-left:50px;">
            <form class="form-inline" role="form" action="__APP__/__APP_NAME__/Review" method="post">
                <div class="form-group">

                    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-right:-15px;">项目:</label>

                    <div class="col-sm-9" >
                        <select name="team_id" class="form-control f-fs1">
                            <option value="0" >所有项目</option>
                            <volist name="team" id="vo">
                                <option value="{$vo['id']}" <if condition="$team_id eq $vo.id">selected</if>>{$vo.product}</option>
                            </volist>
                        </select>
                    </div>
                </div>

                <select name='num'  class="form-control f-fs1">
                    <option>所有</option>
                    <volist name="good" id="vo">
                        <option value="{$key}" <if condition="$num eq $key">selected</if>>{$vo}</option>
                    </volist>
                </select>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning">
                        筛 选
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>