<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="__LIBS_PATH__/jQueryMoblie/jquery.mobile.custom.structure.min.css"/>
    <link rel="stylesheet" type="text/css" href="__LIBS_PATH__/jQueryMoblie/jquery.mobile.custom.theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS_PATH__/reset-jqmobile.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS_PATH__/fastshop.css?v={:C('JS_VER')}"/>
    <link rel="stylesheet" type="text/css" href="__CSS_PATH__/ico-font.css?v={:C('JS_VER')}"/>
</head>
<body>
请在微信端打开
</body>
</html>