<!--底部 -->
<div data-am-widget="navbar" class="am-navbar am-cf am-no-layout" >
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="{:U('Index/index')}">
            <span class="am-icon-home"></span>
            <span class="am-navbar-label">首页</span>
            </a>
        </li>
     
        <li>
            <a href="###">
                <span class="am-icon-compass"></span>
                <span class="am-navbar-label">附近</span>
            </a>
        </li>
        <li>
            <a href="{:U('User/index')}">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">个人中心</span>
            </a>
        </li>
        <li>
            <a href="{:U('User/bus_recommend')}">
                <span class="am-icon-bookmark"></span>
                <span class="am-navbar-label">商家推荐</span>
            </a>
        </li>
    </ul>
</div>
<script src="__JS_PATH__/jquery.min.js"></script>
<script src="__JS_PATH__/amazeui.min.js"></script>
</body>
</html>