<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>推荐商家</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="__CSS_PATH__/bootstrap.css" >
    <link rel="stylesheet" href="__CSS_PATH__/productorComment.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  
</head>
<body>

<!-- 顶部 -->
<div class="header-top">
    <span class="header-top-title">推荐商家</span>
</div>


<!-- 中间内容 -->
<div class="main">
    <div class="steps">
        <span class="step1" style="background-color:#E60827">1</span>
        <span class="step2" style="background-color:#E60827">2</span>
        <span class="step3" style="background-color:#E60827">3</span>
        <span class="cut-line1" style="background-color: rgb(230, 8, 39);"></span>        
        <span class="cut-line2" style="background-color: rgb(230, 8, 39);"></span>
    </div>

    <!-- 恭喜赚钱 -->
    <div class="h3 text-center make-monery-gx">恭喜您！可以开始赚钱了</div>
    <!--下一步按钮  -->
  
</div>

<!-- 底部导航 -->
<div class="footer">
    <ul class="navbar navbar-default navbar-fixed-bottom">
        <li class="personal-center">
            <a href="index.html" class="personal-center-ctrl">     
                <i class="personal-icon">
                    <img src="__IMAGE_PATH__/img_sm06.png" alt="" class="personal-icon-change2">
                    <img src="__IMAGE_PATH__/img_sm04.png" alt="" class="personal-icon-change1">
                </i>
                <span class="personal-center-txt">个人中心</span>
            </a>
        </li>
        <li class="productor-commend">
            <a href="bus_recommend.html" class="productor-commend-ctrl">
                <i class="productor-icon">
                    <img src="__IMAGE_PATH__/img_sm08.png" alt="" class="productor-icon-change2">
                    <img src="__IMAGE_PATH__/img_sm02.png" alt="" class="productor-icon-change1">
                </i>
                <span class="productor-commend-txt">商家推荐</span>
            </a>
        </li>
    </ul>
</div>

<div class="footer"></div>
<script type="text/javascript" src="__JS_PATH__/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__JS_PATH__/bootstrap.js"></script>
<script type="text/javascript" src="__JS_PATH__/maidanbao.js"></script>
</body>
</html>