<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset = "utf-8" />
	<title>青团支付</title>
	<style type="text/css">
		*{margin:0;padding:0;list-style:none;}
		body{margin-left: auto;margin-right: auto;}
		
		header{text-align:center;background: #009999;color:#fff;line-height:2em;}
		aside{width:98%;background:#fff url(__IMAGE_PATH__/background.png) no-repeat right;margin:20px 1%;}
		aside ul{padding: 20px 20px;}
		aside ul li{line-height: 2.5em;font-size: 2em}
		aside img{width:40px;}
		
	</style>
	<script type="text/javascript">
		
      	
	</script>
</head>
<body>
	<aside id="txts">
		<ul>
		<li>支付流程:</li>
		<li>1.点击右上角的<img src="__IMAGE_PATH__/1.png"/>或<img src="__IMAGE_PATH__/2.png" /></li>
		<li>2.选择 <span style="font-weight:bold">在浏览器中打开</span> 以完成支付</li>
		</ul>
	</aside>
</body>
</html> 