<include file="common:header" />
<script type="text/javascript">

//调用微信JS api 支付
function jsApiCall()
{
	WeixinJSBridge.invoke(
		'getBrandWCPayRequest',
		{$data},
		function(res){
			if(res.err_msg == "get_brand_wcpay_request:ok" ) {
				location.href="{:U('Team/payResult', array('oid'=>$oid))}";
			}else{
				location.href="{:U('Team/confirm', array('orderId'=>$oid))}";
			}
		}
	);
}

function callpay()
{
	if (typeof WeixinJSBridge == "undefined"){
	    if( document.addEventListener ){
	        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
	    }else if (document.attachEvent){
	        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
	        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
	    }
	}else{
	    jsApiCall();
	}
}

callpay();

</script>
<include file="common:footer" />