<li>
	<label>团单类型</label>
	<select name="team_type" class="w120">
		<option value="">--项目类型--</option>
	  	<option value="normal" <eq name="searchValue.team_type" value="normal">selected</eq>>团购项目</option>
	  	<option value="newuser" <eq name="searchValue.team_type" value="newuser">selected</eq>>新用户独享</option>
	  	<option value="limited" <eq name="searchValue.team_type" value="limited">selected</eq>>限量抢购</option>
	  	<option value="timelimit" <eq name="searchValue.team_type" value="timelimit">selected</eq>>秒杀项目</option>
	  	<option value="discount" <eq name="searchValue.team_type" value="discount">selected</eq>>特卖</option>
	  	<option value="goods" <eq name="searchValue.team_type" value="goods">selected</eq>>邮购</option>
        <option value="cloud_shopping" <eq name="searchValue.team_type" value="cloud_shopping">selected</eq>>一元云购</option>
        <option value="newguser" <eq name="searchValue.team_type" value="newguser">selected</eq>>新客立减</option>
	</select>
</li>