<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>微信扫码支付</title>
  
</head>
<body>    
    <form method='get' action="http://fanli.ree9.com/Wechat/getqrcode" >
        <div class="container pay-content">
            <div class="panel pay-panel">
                <input type="text" name='mid' value="16830">    
            </div>
        </div>
        <div class="pay-btn container">            
            <button type="submit" class="btn btn-block pay-makeSure" >确认付款</button>   
        </div>  
    </form>
</body>
</html>