<div id="ftW">
    <div id="ft">
        <div class="mb20 f-tac">
            <i class="contract-info__icon mr10 f-ib"></i>
            <div class="contract-info__item f-ib f-tal">
                <h3 class="mb5">商家咨询请致电</h3>
                <div class="f-fwb">
                    4000-998-433
                    <br />                                            
                    <span class="f-fwn t10 f-db pt5">周一到周日09:00-21:00</span>
                </div>
            </div>
            <!--<div class="contract-info__item f-ib f-tal">
                <a href="__APP__/Public/Login/verifyCoupon" id='verify-coupon' class="f-fwb">券号验证</a>
            </div>-->
            <div class="contract-info__item f-ib f-tal">
                <h3 class="mb5">消费者咨询请致电</h3>
                <div class="f-fwb">
                    4000-998-433
                    <br />                                            
                    <span class="f-fwn t10 f-db pt5">周一到周日09:00-21:00</span>
                </div>
            </div>
            <i class="contract-info__icon contract-info__icon--email mr10 f-ib"></i>
            <div class="contract-info__item f-ib f-tal">                    
                <h3 class="mb5">联系邮箱</h3>
                <span class="f-db">zheng@youngt.com</span>
            </div>
        </div>
        <div class="footerLink">
            <a target="_blank" href="__APP__/__APP_NAME__/Public/help/sid/5">常见问题</a> | 
            <a target="_blank" href="__APP__/__APP_NAME__/Public/help/sid/1">接待指南</a> | 
            <a target="_blank" href="__APP__/__APP_NAME__/Public/help/sid/2">编辑指南</a> | 
            <a target="_blank" href="__APP__/__APP_NAME__/Public/help/sid/3">回复规范</a> | 
            <a target="_blank" href="__APP__/__APP_NAME__/Public/help/sid/4">合作流程</a> 
        </div>
        <p class="f-tac pt10">© 2014青团网 ( Youngt.com ) 陕ICP备12003782号-2</p>
    </div>  
</div>
</body>
</html>