<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-left:79px; margin-right:140px;">
                <button type="button" class="close" data-dismiss="alert" onclick="close_div()">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong class="f-fs2 mr10">
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                </strong> 
                青团网青团券验证开通电话验证功能了，赶紧绑定电话体验吧！<a href="__APP__/__APP_NAME__/Partner#mobile_verify">立即绑定</a>
            </div>
        </div>
    </div>
</div>