<include file="Common:header" />

<section>
	<include file="subnav" />
	<div class="content">
		<div class="con-title">已退款订单<span class="tx-green">+</span></div>
		<div class="con-form">
			<form class="myform" method="get" action="{:U('Order/refundList')}">
				<li><label>订单编号</label><input name="id" value="{$searchValue.id}" class="w80" type="text" /></li>
				<li><label>支付编号</label><input name="pay_id" value="{$searchValue.pay_id}" class="w120" type="text" /></li>
				<li><label>用户名/邮箱</label><input name="username" value="{$searchValue.username}" class="w100" type="text" /></li>
				<li><label>手机</label><input name="mobile" value="{$searchValue.mobile}" class="w100" type="text" maxlength="11" /></li>
				<include file="payType" />
				<li><label>退款类型</label>
					<select name="tn">
						<option value="">-请选择退款类型--</option>
						<option value="原路退" <eq name="searchValue.tn" value="原路退">selected</eq>>原路退</option>
						<option value="退至青团余额" <eq name="searchValue.tn" value="退至青团余额">selected</eq>>退至青团余额</option>
					</select>
				</li>
				<li><input type="submit" class="btn-teal small-btn" value="筛选" /></li>
			</form>
			<div class="form-list">
				<table cellpadding="0" cellspacing="0">
					<tr class="list-title">
						<th class="w100">ID</th>
						<th class="w300">项目名称</th>
						<th class="w150">用户名/邮箱</th>
						<th class="w60">数量</th>
						<th class="w60">总价</th>
						<th class="w60">余付</th>
						<th class="w60">支付</th>
						<th class="w60">递送</th>
						<th class="w120"><img src="__IMAGE_PATH__/ico/list_title_menu.png"></th>
					</tr>

					<volist name="list" id="row">

					<tr>
						<td class="w100">
                                                             <label>{$row.id}</label>
                                                             <br/>
                                                             <label class="tx-red">{$row.state_name}</label>
                                                             </td>
						<td  class="w300">
							<label class="tx-teal"><a href="{:U('Team/index',array('id' => $row['team_id']))}" target="_blank">{$row.team_id}</a></label>
							<label class="td-title"><a href="{$row.team_id|getTeamUrl}" title="{$team[$row['team_id']]['product']}" target="_blank">{$team[$row['team_id']]['product']}</a></label><br/>
							<img src="__IMAGE_PATH__/ico/td_add.png"/> {$city[$row['city_id']]['name']}
						</td>
						<td class="w150 lh-26 f-12">
							<label>{$userList[$row['user_id']]['username']}</label>
							<label>{$userList[$row['user_id']]['email']}</label><br/>
							<lable class="f-12 tx-teal">
								<if condition="checkMobile($row['mobile']) eq true">
                                <a href="javascript:popup('{:U('User/smsUser',array('mobile'=>$row['mobile']))}',500,400);">[短信]</a>|
                                </if>
                                <a href="javascript:popup('{:U('User/getUserFlow',array('user_id'=>$row['user_id']))}',800,520);">[流水]</a>
                            </lable>
						</td>
                        <td class="w60 f-12"><label>{$row.quantity}</label></td>
                        <td class="w60 f-12"><label>&#165;{$row.origin}</label></td>
                        <td class="w60 f-12"><label>&#165;{$row.credit}</label></td>
						<td class="w60 f-12"><label class="tx-teal">&#165;{$row.money}</label></td>
						<td class="w60"><label class="f-12">
							<if condition="$team[$row['team_id']]['delivery'] eq coupon">
								青团券
							<elseif condition="$team[$row['team_id']]['delivery'] eq voucher" />
								商户券
							<elseif condition="$team[$row['team_id']]['delivery'] eq express" />
								快递
							<else/>
								第三方券
							</if>
						</label>
						<br/><label class="tx-teal">{$row.tn}</label>

						</td>
						<td class="w120 f-12 man">
							<if condition="$res = auth_check_access(array('Order/detail'))">
								<label class="bc-teal"><a href="{:U('Order/detail', array('id' => $row['id']))}" onclick="popup(this.href,500,500);return false;">详情</a></label>
							</if>
						</td>
					</tr>

					</volist>
				</table>
				<div class="selectpage">
					<div class="pagenumber">{$pages}</div>
				</div>
			</div>
		</div> 
	</div>
</section>

<include file="Common:footer" />