<include file="Common:header" />

<section>
	<include file="subnav" />
	<div class="content">
		<div class="con-title">未付款订单<span class="tx-green">+</span></div>
		<div class="con-form">
			<form class="myform" method="get" action="{:U('Order/unpayList')}">
				<li><label>订单编号</label><input name="id" value="{$searchValue.id}" class="w100" type="text" /></li>
				<li><label>用户名/邮箱</label><input name="username" value="{$searchValue.username}" class="w100" type="text" /></li>
				<li><label>手机</label><input name="mobile" value="{$searchValue.mobile}" class="w100" type="text" maxlength="11" /></li>
				<li><label>项目编号</label><input name="team_id" value="{$searchValue.team_id}" type="text" /></li>
				<li><label>下单日期</label>
					<input name="screate_time" value="{$searchValue['screate_time']}" class="laydate-icon w80" id="start" type="text" >-
					<input name="ecreate_time" value="{$searchValue['ecreate_time']}" class="laydate-icon w80" id="end" type="text">
				</li>
				<li>
					<label>选择城市</label>
					<select name="city_id">
						<option value="">--请选择地区--</option>
						<volist name="city" id="row">
							<option value="{$row.id}" <eq name="row.id" value="$searchValue.city_id">selected</eq>>{$row.letter}-{$row.name}</option>
						</volist>
					</select>
				</li>
				<include file="payType" />
				<li><input type="submit" class="btn-teal small-btn" value="筛选" /></li>
			</form>
			<script>
			$(function(){
				laydate.skin('molv');
				var start = {
				    elem: '#start',
				    format: 'YYYY-MM-DD',
				    //min: laydate.now(), //设定最小日期为当前日期
				    max: '2099-06-16 23:59:59', //最大日期
				    //istime: true,
				    istoday: false,
				    choose: function(datas){
				         end.min = datas; //开始日选好后，重置结束日的最小日期
				         end.start = datas //将结束日的初始值设定为开始日
				    }
				};
				var end = {
				    elem: '#end',
				    format: 'YYYY-MM-DD',
				    //min: laydate.now(),
				    max: '2099-06-16 23:59:59',
				    istoday: false,
				    choose: function(datas){
				        start.max = datas; //结束日选好后，重置开始日的最大日期
				    }
				};
				laydate(start);
				laydate(end);
			})
			</script>
			<div class="form-list">
				<table cellpadding="0" cellspacing="0">
					<tr class="list-title">
						<th class="w100">ID</th>
						<th class="w300">项目名称</th>
						<th class="w150">用户名/邮箱</th>
						<th class="w60">数量</th>
						<th class="w80">总价</th>
						<th class="w80">支付</th>
						<th class="w60">递送</th>
						<th class="w120"><img src="__IMAGE_PATH__/ico/list_title_menu.png"></th>
					</tr>

					<volist name="list" id="row">

					<tr>
						<td class="w100"><label>{$row.id}</label></td>
						<td  class="w300">
							<label class="tx-teal"><a href="{:U('Team/index',array('id' => $row['team_id']))}" target="_blank">{$row.team_id}</a></label>
							<label class="td-title"><a href="{$row.team_id|getTeamUrl}" title="{$team[$row['team_id']]['product']}" target="_blank">{$team[$row['team_id']]['product']}</a></label><br/>
							<img src="__IMAGE_PATH__/ico/td_add.png"/> {$city[$row['city_id']]['name']}
							&nbsp;&nbsp;{$row.create_time|date='Y-m-d H:i:s',###}
						</td>
						<td class="w150 lh-26 f-12">
							<label>{$userList[$row['user_id']]['username']}</label>
							<label>{$userList[$row['user_id']]['email']}</label><br/>
							<!-- <lable class="f-12 tx-teal">
								<a href="{:U('Order/sms', array('id' => $row['id']))}" onclick="popup(this.href,500,500);return false;">[短信]</a>
							</lable> -->
						</td>
                        <td class="w60 f-12"><label>{$row.quantity}</label></td>
                        <td class="w80 f-12"><label>&#165;{$row.origin}</label></td>
						<td class="w80 f-12"><label class="tx-teal">&#165;{$row.money}</label></td>
						<td class="w60"><label class="f-12">
							<if condition="$team[$row['team_id']]['delivery'] eq coupon">
								青团券
							<elseif condition="$team[$row['team_id']]['delivery'] eq voucher" />
								商户券
							<elseif condition="$team[$row['team_id']]['delivery'] eq express" />
								快递
							<else/>
								第三方券
							</if>
						</label></td>
						<td class="w120 f-12 man">
							<if condition="$res = auth_check_access(array('Order/detail'))">
								<label class="bc-teal"><a href="{:U('Order/detail', array('id' => $row['id']))}" onclick="popup(this.href,500,500);return false;">详情</a></label>
							</if>
							<if condition="$row['state'] == 'unpay' && $row['rstate'] == 'normal'">
								<if condition="$res = auth_check_access(array('Order/delOrder'))">
									<label class="bc-teal">
									<a href="javascript:toAjax('{:U('Order/delOrder', array('id' => $row['id']))}','确定删除订单')">删除</a>
								</label>
								</if>
								<if condition="$res = auth_check_access(array('Order/cash'))">
									<label class="bc-teal"><a href="javascript:toAjax('{:U('Order/cash', array('id' => $row['id']))}','确定现金操作')">现金</a></label>
								</if>
							</if>
						</td>
					</tr>

					</volist>
				</table>
				<div class="selectpage">
					<div class="pagenumber">{$pages}</div>
				</div>
			</div>
		</div> 
	</div>
</section>

<include file="Common:footer" />