<nav class="clearfix">
    <div id="nav">
        <div id="nav-left" class="fl">
            <div class="demo-one-left b_litblue" id="disn">
                <span class="menu-title b_green">全部团购分类<i class="noover">&nbsp;</i></span>
                <div class="class-menu" style="display:none;">
                    <ul>
                        <li >
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/255')}">美食</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/255/sid/589')}">烧烤</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/255/sid/418')}">火锅</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/255/sid/587')}">自助餐</a></span>
                            <div class="class-menu-float">
                                <ul id="fm01" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/255')}">美食</a></h3>
                                    <li><a href="{:U('Category/index/gid/255/sid/589')}">烧烤</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/416')}">地方菜</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/431')}">蛋糕</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/1652')}">果蔬</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/418')}">火锅</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/427')}">小吃</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/417')}">西餐</a></li>
                                    <li><a href="{:U('Category/index/gid/255/sid/587')}">自助餐</a></li>

                                </ul>
                            </div>
                        </li>
                        <li >
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/12')}">休闲娱乐</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/12/sid/256')}">ktv</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/12/sid/599')}">酒吧</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/12/sid/420')}">电影</a></span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/12')}">休闲娱乐</a></h3>
                                    <li><a href="{:U('Category/index/gid/12/sid/599')}">酒吧</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/605')}">采摘</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/591')}">电玩</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/604')}">滑雪</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/256')}">ktv</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/420')}">电影</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/430')}">其他娱乐</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/421')}">游泳</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/428')}">桌球</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/595')}">门票</a></li>
                                    <li><a href="{:U('Category/index/gid/12/sid/1187')}">真人CS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li >
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/12/sid/420')}">电影</a></span>
                            <!--  <span class="fr class-menu-i"><i>&nbsp;</i></span>
                              <div class="class-menu-float">
                                  <ul id="fm02" class="float-menu">
                                      <h3><a href="{:U('Category/index/gid/255')}">休闲娱乐</a></h3>
                                      <li><a href="{:U('Category/index/gid/12/sid/420')}">电影</a></li>
                                  </ul>
                              </div>-->
                        </li>
                        <li>
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/404/sid/13')}">酒店/极速订房</a></span>
                            <!-- <span class="fr class-menu-i"><i>&nbsp;</i></span>
                             <div class="class-menu-float">
                                 <ul id="fm02" class="float-menu">
                                     <h3><a href="{:U('Category/index/gid/255')}">休闲娱乐</a>酒店/极速订房</h3>
                                     <li><a href="{:U('Category/index/gid/404/sid/13')}">酒店</a></li>
                                 </ul>
                             </div>-->
                        </li>
                        <li>
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/404/sid/407')}">旅游</a></span>
                            <!--  <span class="fr class-menu-i"><i>&nbsp;</i></span>
                              <span class="class-menu-n"><a href="{:U('Category/index/gid/404/sid/407')}">旅游</a></span>
                              <div class="class-menu-float">
                                  <ul id="fm02" class="float-menu">
                                      <h3><a href="{:U('Category/index/gid/255')}">休闲娱乐</a>旅游</h3>
                                      <li><a href="{:U('Category/index/gid/404/sid/407')}">旅游</a></li>
                                  </ul>
                              </div>-->
                        </li>
                        <li>
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/14')}">丽人</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/14/sid/424')}">美容</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/14/sid/422')}">美发</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/14/sid/423')}">美甲</a></span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/14')}">丽人</a></h3>
                                    <li><a href="{:U('Category/index/gid/14/sid/1911')}">护肤</a></li>
                                    <li><a href="{:U('Category/index/gid/14/sid/424')}">美容美体</a></li>
                                    <li><a href="{:U('Category/index/gid/14/sid/422')}">美发</a></li>
                                    <li><a href="{:U('Category/index/gid/14/sid/423')}">美甲</a></li>
                                    <li><a href="{:U('Category/index/gid/14/sid/607')}">其他美容</a></li>
                                    <li><a href="{:U('Category/index/gid/14/sid/1651')}">医疗体检</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/419')}">生活服务</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/419/sid/425')}">足疗洗浴</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/419/sid/1030')}">家居建材</a></span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/419')}">生活服务</a></h3>
                                    <li><a href="{:U('Category/index/gid/419/sid/425')}">足疗洗浴</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/608')}">鲜花婚庆</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/426')}">配镜</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/1030')}">家居建材</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/412')}">摄影写真</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/598')}">电话卡</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/429')}">其他生活</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/15')}">学习培训</a></li>
                                    <li><a href="{:U('Category/index/gid/419/sid/592')}">体检洗牙</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="goods-category-content">                        
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/16')}">购物</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/16/sid/1654')}">农特产品</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/16/sid/405')}">本地自取</a></span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/16')}">购物</a></h3>
                                    <li><a href="{:U('Category/index/gid/16/sid/1654')}">农特产品</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/405')}">本地自取</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/580')}">童装</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/579')}">男装</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/125')}">女装</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/586')}">情侣用品</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/581')}">内衣内裤</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/583')}">母婴</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/129')}">箱包</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/126')}">化妆品</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/131')}">家居</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/127')}">数码电器</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/582')}">配饰</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/584')}">运动户外</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/128')}">本地</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/130')}">鞋帽</a></li>
                                    <li><a href="{:U('Category/index/gid/16/sid/585')}">创意玩具</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <span class="class-menu-t"><a href="javascript:void(0)">结婚</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n">婚纱摄影</span>
                            <span class="class-menu-n">婚纱礼服</span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="javascript:void(0)">结婚</a></h3>
                                    <li><a href="#">代金券</a></li>
                                    <li><a href="#">火锅</a></li>
                                    <li><a href="#">自助餐</a></li>
                                    <li><a href="#">聚餐宴请</a></li>
                                    <li><a href="#">代金券</a></li>
                                    <li><a href="#">蛋糕</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="no-bottom-border" >
                            <span class="class-menu-t"><a href="{:U('Category/index/gid/15')}">教育培训</a></span>
                            <span class="fr class-menu-i"><i>&nbsp;</i></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/15/sid/1723')}">驾校</a></span>
                            <span class="class-menu-n"><a href="{:U('Category/index/gid/15/sid/1722')}">中小学</a></span>
                            <div class="class-menu-float">
                                <ul id="fm02" class="float-menu">
                                    <h3><a href="{:U('Category/index/gid/15')}">教育培训</a></h3>
                                    <li><a href="{:U('Category/index/gid/15/sid/1723')}">驾校</a></li>
                                    <li><a href="{:U('Category/index/gid/15/sid/1722')}">中小学</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="nav-right" class="b_grey fl">
            <span class="b_n_grey"><a href="{:U('/')}">团购首页</a></span>
            <span><a href="{:U('Category/today')}">今日新单</a></span>
            <span><a href="{:U('Category/index',array('gid'=>255))}">美食</a></span>
            <span><a href="{:U('Around/index')}">附近团购</a></span>
            <!--span><a href="{:U('Category/cloud_shoping_team_list')}">一元众筹</a></span-->
            <span><a href="{:U('Partner/reservation_index')}">订座</a></span>
            <!--<span><a href="#">结婚</a></span>
            <span><a href="#">亲子</a></span>-->
        </div>
    </div>
</nav>

<div id="goods-category-tmpl" style="display:none" type="text/x-jquery-tmpl">
    <span class="class-menu-t"><a href="{:U('Category/index/gid/1847')}">本地批发</a></span>
    <span class="fr class-menu-i"><i>&nbsp;</i></span>
    <span class="class-menu-n"><a href="{:U('Category/index/gid/1847/sid/1848')}">烟酒副食</a></span>
    <span class="class-menu-n"><a href="{:U('Category/index/gid/1847/sid/1849')}">各类书籍</a></span>
    <div class="class-menu-float">
        <ul id="fm02" class="float-menu">
            <h3><a href="{:U('Category/index/gid/1847')}">本地批发</a></h3>
            <li><a href="{:U('Category/index/gid/1847/sid/1848')}">烟酒副食</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1849')}">各类书籍</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1850')}">香烟</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1851')}">高中教辅</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1852')}">粮油调料</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1853')}">水果</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1854')}">零食</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1855')}">干货</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1856')}">家居百货</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1857')}">电子电器</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1858')}">文具</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1859')}">幼儿书籍</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1860')}">小学教辅</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1861')}">初中教辅</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1862')}">大学用书</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1863')}">工具书</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1864')}">各类文学</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1866')}">酒水饮料</a></li>
            <li><a href="{:U('Category/index/gid/1847/sid/1865')}">其他</a></li>
        </ul>
    </div>
</div>
<div id="goods-category-other-tmpl" style="display:none" type="text/x-jquery-tmpl">
            <span class="class-menu-t"><a href="{:U('Category/index/gid/16')}">购物</a></span>
            <span class="fr class-menu-i"><i>&nbsp;</i></span>
            <span class="class-menu-n"><a href="{:U('Category/index/gid/16/sid/1654')}">农特产品</a></span>
            <span class="class-menu-n"><a href="{:U('Category/index/gid/16/sid/405')}">本地自取</a></span>
            <div class="class-menu-float">
                <ul id="fm02" class="float-menu">
                    <h3><a href="{:U('Category/index/gid/16')}">购物</a></h3>
                    <li><a href="{:U('Category/index/gid/16/sid/1654')}">农特产品</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/405')}">本地自取</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/580')}">童装</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/579')}">男装</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/125')}">女装</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/586')}">情侣用品</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/581')}">内衣内裤</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/583')}">母婴</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/129')}">箱包</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/126')}">化妆品</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/131')}">家居</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/127')}">数码电器</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/582')}">配饰</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/584')}">运动户外</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/128')}">本地</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/130')}">鞋帽</a></li>
                    <li><a href="{:U('Category/index/gid/16/sid/585')}">创意玩具</a></li>
                </ul>
            </div>
        </div>
<script>
    $(function() {
        var nav_init = function() {
           
            $.get("{:U('Index/ajaxCityName')}", '', function(data) {
                $('#youngtCityName').html(data.name);
                if (data.id == 1) {
                    var html = "";//"<span><a target='_blank' href=" + $base_url + "/Study/index>毕业季</a></span>"
                    $('#nav-right').append(html);
                }
                if (data.id == 325) {
                    $('#goods-category-content').html($('#goods-category-tmpl').html());
                }else{
                    $('#goods-category-content').html($('#goods-category-other-tmpl').html());
                }
            });
        }();
    });
</script>
